<ion-header #header>
    <app-header-two titulo="Habilidades"></app-header-two>
  </ion-header>
  <ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
    <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
      <ion-card *ngIf="isLoaded==0">
        <div>
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-center ion-margin ion-padding" *ngFor ="let item of [1,1,1,1,1,1,1,1,1,1,1]">
              <ion-col size="2" class="ion-align-self-center ion-margin-end">
                <ion-skeleton-text animated style="width: 37px; height: 37px; border-radius:50%;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="7" class="ion-align-self-center">
                <ion-label>
                  <ion-text color="cloudysky">
                    <h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
                    <h3><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></h3>
                    <p><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></p>
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="1" class="ion-align-self-center ion-margin-end">
                <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </div>
      </ion-card>
        <ion-card>
                <div class="ion-margin">
                  <mat-accordion>
                  <!-- Aqui  va el ngFor -->
                  <mat-expansion-panel class="mat-expansion-inter" *ngFor="let habilidad of habilidades">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <ion-grid class="ion-no-margin">
                          <ion-row>
                            <ion-col size="2" class="ion-align-self-center ion-margin-end">
                              <div class="">
                                <ion-icon size="large" src="../../assets/icon/{{habilidad.iconServicio}}.svg" color="{{habilidad.colorServicio}}"></ion-icon>
                              </div>
                            </ion-col>
                            <ion-col size="9" class="ion-align-self-center">
                              <ion-label>
                                <ion-text color="cloudysky">
                                  <h2 class="ion-no-margin">{{habilidad.servicio}}</h2>
                                  <p>Avance</p>
                                  <ion-progress-bar  color="{{habilidad.colorServicio}}"  value="{{habilidad.avance}}"
                                  class="border-radius-xl height-progress ion-margin-vertical progres-bar-grey">
                                </ion-progress-bar>
                                </ion-text>
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>

                      <ion-grid class="ion-margin-horizontal" >

                        <!-- aquí va el ngFor -->
                        <ion-row  class="ion-margin-bottom" *ngFor="let curso of habilidad.cursos" [routerLink]="['/training', curso.idCurso, habilidad.servicio, habilidad.iconServicio, habilidad.colorServicio ]">
                         <ion-col  size="2" class="ion-align-self-center ion-text-center">
                              <ion-icon *ngIf="curso.avance == 2" size="small" color="navyblue" name="play-circle"></ion-icon>
                              <ion-icon *ngIf="curso.avance == 1" size="small" color="greenxtend" name="checkmark-circle"></ion-icon>
                              <ion-icon *ngIf="curso.avance == 0" size="small" color="redxtend" name="close-circle"></ion-icon>
                          </ion-col>
                          <ion-col size="7" class="ion-align-self-center">
                            <ion-label>
                              <ion-text color="cloudysky">
                                <p class="ion-no-margin"><strong>{{curso.nombre}}</strong></p>
                                <p>Tipo: {{curso.tipo}}</p>
                              </ion-text>
                            </ion-label>
                          </ion-col>
                          <ion-col size="3" class="ion-align-self-center ion-text-right">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            <!-- <ion-label>
                              <ion-text color="cloudysky" >
                                <p class="ion-no-margin">Score</p>
                              </ion-text>
                              <ion-text color="{{paso.colortwo}}">
                                <p>{{paso.score}}</p>
                              </ion-text>
                            </ion-label> -->
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </mat-expansion-panel>
                  <!-- /Fin del ngFor -->
                </mat-accordion>
                </div>

        </ion-card>
    </div>
  </ion-content>
  <app-footer></app-footer>





