<ion-footer style="background-color: white;">


      <div style="height: 56px; ">

        <ion-grid style="padding-top:24px;">
          <ion-row>
            <ion-col size="3">
              <ion-fab vertical="center" horizontal="center">
              <ion-fab-button (click)="back()"  mode="ios" color="whitex" style="--box-shadow: none; --background: white;">
                <ion-icon name="arrow-back-circle-outline" color="primary"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            </ion-col>
            <ion-col size="3">
              <ion-fab vertical="center" horizontal="center">
              <ion-fab-button mode="ios" color="whitex" style="--box-shadow: none; --background: white;">
                <ion-icon (click)="wallet()" name="wallet-outline" color="primary"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            </ion-col>
            <ion-col size="3">
              <ion-fab vertical="center" horizontal="center">
              <ion-fab-button  mode="ios" color="whitex" style="--box-shadow: none; --background: white;">
                <ion-icon (click)="profile()" name="person-outline" color="primary"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            </ion-col>
            <ion-col size="3">
              <ion-fab vertical="center" horizontal="center">
                <ion-fab-button mode="ios" color="whitex" style="--box-shadow: none; --background: white;">
                  <ion-icon name="ellipsis-vertical-circle-outline" color="skybluextend"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                  <ion-fab-button mode="ios" style="width: 56px; height: 56px;" (click)="referrals()">
                    <ion-icon size="large" color="skybluextend" name="people-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button mode="ios" style="width: 56px; height: 56px;" (click)="closeSession()">
                    <ion-icon size="large" color="skybluextend" name="log-out-outline"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
              </ion-fab>
            </ion-col>
          </ion-row>
        </ion-grid>


      </div>

</ion-footer>

