<ion-footer>
  <ion-toolbar style="height: 50px;">

      <ion-tabs>
        <ion-tab-bar slot="bottom" class="no-border">
          <ion-tab-button tab="schedule">
            <ion-icon name="flag-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="speakers">
            <ion-icon name="wallet-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="map" class="">
            <ion-icon name="people-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="about">
            <ion-icon name="person-circle-outline" color="primary"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

  </ion-toolbar>
</ion-footer>
