<ion-footer>
  <ion-toolbar style="height: 50px;">
      <div>
    <!--<ion-tabs></ion-tabs>-->
        <ion-tab-bar slot="bottom" class="no-border">
          <ion-tab-button (click)="home()" tab="schedule">
            <ion-icon name="flag-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="speakers">
            <ion-icon (click)="wallet()" name="wallet-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="map" class="">
            <ion-icon name="people-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button  (click)="profile()" tab="about">
            <ion-icon name="person-circle-outline" color="primary"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </div>

  </ion-toolbar>
</ion-footer>

