<ion-header #header>
  <app-header-two titulo="Niveles de Xtender"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <ion-card>
       <ion-card-content>
        <ion-text color="navyblue" class="ion-text-center">
          <!-- El pedo estaba de aqui amig0 quite el nivel y jalo <ion-card> -->
            <ion-grid style="max-width: 500px;">
              <ion-row >
                <ion-col size="3" class="ion-align-self-center ion-text-right">
                  <img src="../../assets/icon/plata.png" style="width:40px; height: 40px;">
                </ion-col>
                <ion-col size="9" class="ion-text-left ion-align-self-center">
                   <h1>Xtender nivel <strong>Plata</strong></h1>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-text>
        <ion-grid>
          <ion-row >
            <ion-col size="12" class="ion-no-padding ion-no-margin ion-overflow-auto border-radius-xl">
              <ion-grid class="ion-no-padding ion-no-margin">
                <ion-row>
                  <!-- NIVEL BRONCE ------------------------------------------- -->
                  <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                    <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row class="ion-no-padding ion-no-margin">
                        <!-- sub-nivel-bronce 0%-25% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-bronce 25%-50% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-bronce 50%-75% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-bronce 75%-100% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel"></div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <!-- NIVEL PLATA ------------------------------------------- -->
                  <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                    <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row class="ion-no-padding ion-no-margin">
                        <!-- sub-nivel-plata 0%-25% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-plata 25%-50% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-plata 50%-75% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-plata 75%-100% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel"></div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                  </ion-col>
                  <!-- NIVEL ORO ------------------------------------------- -->
                  <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                    <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row class="ion-no-padding ion-no-margin">
                        <!-- sub-nivel-Oro 0%-25% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-Oro 25%-50% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '0'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-Oro 50%-75% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '0'}">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-Oro 75%-100% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '0'}">
                          <div class="col-subnivel"></div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                  </ion-col>
                  <!-- NIVEL ELITE -------------------------------------------  -->
                  <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue">
                    <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row class="ion-no-padding ion-no-margin">
                        <!-- sub-nivel-Elite 0%-25% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-Elite 25%-50% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-Elite 50%-75% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                          <div class="col-subnivel "></div>
                        </ion-col>
                        <!-- sub-nivel-Elite 75%-100% -->
                        <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                          <div class="col-subnivel"></div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text color="navyblue" class="ion-text-center">
                <p>Bronce</p>
              </ion-text>
            </ion-col>
            <ion-col size="3">
              <ion-text color="navyblue" class="ion-text-center">
                <p>Plata</p>
              </ion-text>
            </ion-col>
            <ion-col size="3">
              <ion-text color="navyblue" class="ion-text-center">
                <p>Oro</p>
              </ion-text>
            </ion-col>
            <ion-col size="3">
              <ion-text color="navyblue" class="ion-text-center">
                <p>Elite</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>


       </ion-card-content>
    </ion-card>

    <ion-grid class="bg-lightgrey ion-padding-vertical">
      <ion-row>
        <ion-col>
        <div class="ipck-row-carousel">
          <div class="ipck-col-carousel ion-align-items-top">
            <!-- <ITEM - para repetir el ng-repeat> -->
            <div class="ipck-item-carousel ion-margin-horizontal" *ngFor="let nivel of dataniveles">
              <ion-card class="ion-no-margin ion-padding  ion-width-sm shadow border-radius">
                <ion-grid>
                  <ion-row>

                  </ion-row>
                  <ion-row>
                    <ion-col size="3" class="ion-align-self-center ion-text-right">
                      <img src="../../assets/icon/{{nivel.icon}}" style="width:40px; height: 40px;">
                    </ion-col>
                    <ion-col size="9" class="ion-text-left ion-align-self-center">
                      <ion-text color="navybluextend">
                       <h3>Nivel <strong>{{nivel.title}}</strong></h3>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let docs of nivel.docs">
                    <ion-col size="2" class="ion-align-self-center">
                      <span class="material-icons color-skyblue" style="font-size: 20px;">
                        done_outline
                        </span>
                    </ion-col>
                    <ion-col size="10" class="ion-align-self-center">
                      <ion-text color="navybluextend">
                        <p class="ion-no-padding">{{docs.title}}</p>
                      </ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-row class="ion-margin-top">
                    <ion-col>
                      <ion-text color="navybluextend" class="ion-text-center">
                        <h3><strong>Beneficios</strong></h3>
                       </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let beneficios of nivel.beneficios">
                    <ion-col size="2" class="ion-align-self-center">
                      <span class="material-icons color-skyblue" style="font-size: 20px;">
                        done_outline
                        </span>
                    </ion-col>
                    <ion-col size="10" class="ion-align-self-center">
                      <ion-text color="navybluextend">
                        <p>{{beneficios.title}}</p>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                 </ion-grid>
              </ion-card>
            </div>
            <!-- </Fin ITEM - para repetir> -->
          </div>
        </div>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<app-footer></app-footer>
