
    
    <mat-panel-title>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <ion-text color=navyblue>
              <h6>Anaquel | Bunker</h6>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-panel-title>
  

    <div class="ion-padding-horizontal">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size="12" class="ion-padding-horizontal">
          <ion-text color="navyblue">
            <p class="ion-no-margin"><strong>Buscar el producto</strong></p>
          </ion-text>
        </ion-col>
        <ion-col class="ion-margin">
          <ion-searchbar outline animated
            placeholder="{{barcode}}" mode="ios"
            [debounce]="500"
          >
          </ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-horizontal">
        <app-cam-bc
                 (barcodeResult)="receiveBarCode($event)"
                 ></app-cam-bc>
      </ion-row>
      <ion-row class="ion-margin-horizontal">
        <ion-col size="6" class="ion-align-self-center">
          <ion-text color="navyblue" class="ion-text-left"><p><strong>Nombre</strong></p></ion-text>
        </ion-col>
        <ion-col size="3" class="ion-align-self-center">
          <ion-text color="navyblue" class="ion-text-left"><p><strong>Pres</strong></p></ion-text>
        </ion-col>
        <ion-col size="3" class="ion-align-self-center">
          <ion-text color="navyblue" class="ion-text-left"><p><strong>Presencia.</strong></p></ion-text>
        </ion-col>
      </ion-row>
       <ion-row *ngFor="let producto of productos; let i = index ;" class="ion-margin-horizontal" (click)="openDialog(producto,i+1)">
        <ion-col size="6" class="ion-align-self-center">
          <ion-text color="navyblue" class="ion-text-left"><p>{{producto.nombre}}</p></ion-text>
        </ion-col>
        <ion-col size="3" class="ion-align-self-center">
          <ion-text color="navyblue" class="ion-text-left"><p>{{producto.presentacion}}</p></ion-text>
        </ion-col>
        <ion-col *ngIf="isValid==1" size="2" class="ion-align-self-center ion-text-center iup-margin-top-sm">
          <ion-icon name="close-circle" color="{{producto.color}}" style="font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col *ngIf="isValid==0" size="2" class="ion-align-self-center ion-text-center iup-margin-top-sm">
          <ion-icon name="checkmark-circle" color="greenxtend" style="font-size: 20px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <!--<ion-col size="12" class="ion-align-self-center ion-text-center">
          <ion-chip outline color="silverblue" expand="block">
            <ion-icon name="barcode-outline"></ion-icon>
            <ion-label color="navyblue">CAPTURAR CODIGO DE BARRAS</ion-label>
          </ion-chip>
        </ion-col>-->
       <!--<ion-col size="12" class="ion-margin-vertical">
          <ion-grid>
            <ion-row >
              <ion-col size="6" class="ion-text-center">
                <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" >
                  Guardar
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>-->
      </ion-row>
    </ion-grid>
    </div>
 





