<ion-grid class="ion-no-margin ion-no-padding bg-navyblue">
  <ion-row class="bg-whitex row-vertical-cincuenta">
    <ion-col class="ion-no-padding ion-align-self-center ion-text-center">
      <img src="../../../../assets/icon/logo-extend.svg" class="size-logo-login" alt="Logo Extend">
    </ion-col>
  </ion-row>

  <ion-row class="ion-bg-navyblue bg-navyblue row-vertical-cincuenta">
    <ion-col class="ion-no-padding ion-align-self-center ">
      <div style="max-width:570px; margin: auto;">

   
          

           <ion-grid class="ion-padding">
             <ion-row class="ion-justify-content-center">
               <ion-col class="ion-text-center">
                <ion-button  class="ion-margin-top" routerLink="/auth" color="polarwhite">He confirmado el mail</ion-button>
               </ion-col>
               
             </ion-row>
           </ion-grid>
       

      </div>
    </ion-col>
  </ion-row>
</ion-grid>
