<ion-header #header>
  <app-header-two titulo="Misiones"></app-header-two>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">

    <ion-grid class="bg-polarwhite ion-padding-top ion-margin-top">
      <ion-row class="ion-padding-horizontal">
        <ion-col size="12" class="ion-text-start ion-align-self-center">
          <ion-text color="navyblue">
            <h5 class="ion-no-margin"><strong>Misión en proceso</strong></h5>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="isLoaded==0">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <ion-skeleton-text animated style="width: 37px; height: 37px"></ion-skeleton-text>
            </ion-col>
            <ion-col size="8" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h2>
                  <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
                  <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let missionActiv of puereMissionsActivas" >
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" class="ion-align-self-center ion-margin-end">
              <ion-icon name="settings-outline" size="large" color="navybluextend"></ion-icon>
            </ion-col>
            <ion-col size="7" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>{{missionActiv.cadena}}</strong></h2>
                  <h3>{{missionActiv.proyecto}}</h3>
                  <p>Tipo de categoría.</p>
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <button mat-icon-button routerLink="/start-mission/{{missionActiv.idPV}}">
                <mat-icon class="color-cloudysky">navigate_next</mat-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="siOnoHay==0">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" class="ion-align-self-center ion-margin-end">
              <ion-icon name="settings-outline" size="large" color="navybluextend"></ion-icon>
            </ion-col>
            <ion-col size="7" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>No hay mission en proceso</strong></h2>
                  <h3>Aquí aparecerá tu mision que estará en curso.</h3>
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!-- </MISIONES EN PROCESO> -->


    <ion-grid class="bg-polarwhite ion-padding-top ion-margin-top">
      <ion-row class="ion-padding-horizontal ion-margin-top">
        <ion-col size="7" class="ion-text-start ion-align-self-center">
          <ion-text color="navyblue">
            <h5 class="ion-no-margin">Misiones disponibles</h5>
          </ion-text>
        </ion-col>

        <ion-col size="5" class="ion-text-end ion-align-self-center">
          <!-- <ion-chip class="ion-color ion-color-navyblue chip-outline">
            <ion-label>Ver todas</ion-label>
            <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon>
          </ion-chip> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="isLoadedArealizar==0">
      <ion-card *ngFor ="let item of [1,1,1,1]">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-center">
              <ion-col size="1" class="ion-align-self-center ion-margin-end">
                <ion-skeleton-text animated style="width: 37px; height: 37px"></ion-skeleton-text>
              </ion-col>
              <ion-col size="8" class="ion-align-self-center">
                <ion-label>
                  <ion-text color="cloudysky">
                    <h2><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h2>
                    <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
                    <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="1" class="ion-align-self-center ion-margin-end">
                <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    <div *ngIf="siOnoHay==1">
    <ion-card *ngFor="let missionActiv of puereMissionsArealizarDtc">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" class="ion-align-self-center ion-margin-end">
              <div style="width: 50px;" class="ion-margin-end">
                <img src="{{missionActiv.logoCliente}}">
              </div>
            </ion-col>
            <ion-col size="7" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>{{missionActiv.cadena}}</strong></h2>
                  <h3>{{missionActiv.proyecto}}</h3>
                  <p>Tipo de categoría.</p>
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <button mat-icon-button routerLink="/mission/{{missionActiv.idPV}}">
                <mat-icon class="color-cloudysky">navigate_next</mat-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid class="ion-margin-bottom">
      <ion-row class="ion-no-margin">
        <ion-col class="ion-text-center ion-no-margin" *ngIf="currentIndex<=totalMissionsOne">
          <ion-chip class="ion-color ion-color-navyblue chip-outline" (click)="seeMore()">
            <ion-label>Ver más</ion-label>
            <!-- <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon> -->
          </ion-chip>
        </ion-col>
        <ion-col class="ion-text-center ion-no-margin" *ngIf="currentIndex>totalMissionsOne">
          <ion-chip class="ion-color ion-color-navyblue chip-outline">
            <ion-label>Se han cargado todos</ion-label>
            <!-- <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon> -->
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <ion-card *ngIf="siOnoHay==0">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>Ahún no tienes misiones disponibles.</strong></h2>
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>


    <ion-grid class="bg-polarwhite ion-padding-top ion-margin-top">
      <ion-row class="ion-padding-horizontal ion-margin-top">
        <ion-col size="4" class="ion-text-start ion-align-self-top">
          <ion-text color="navyblue">
            <h5 class="ion-no-margin"><br>Misiones realizadas</h5>
          </ion-text>
        </ion-col>

        <ion-col size="8" class="ion-text-end ion-align-self-center">
          <form [formGroup] = "missionscomplitedtc" (ngSubmit) = "filterMissionsComplite()">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Periodo</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="startDate" placeholder="Inicio">
                      <input matEndDate formControlName="endDate" placeholder="Fin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="missionscomplitedtc.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="missionscomplitedtc.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
                  <button type="submit" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                    Aplicar filtro
                </button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="isLoadedComplite==0">
      <ion-card *ngFor ="let item of [1,1,1,1]">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-center">
              <ion-col size="1" class="ion-align-self-center ion-margin-end">
                <ion-skeleton-text animated style="width: 37px; height: 37px"></ion-skeleton-text>
              </ion-col>
              <ion-col size="8" class="ion-align-self-center">
                <ion-label>
                  <ion-text color="cloudysky">
                    <h2><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h2>
                    <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
                    <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="1" class="ion-align-self-center ion-margin-end">
                <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    <ion-card *ngIf="siOnoHayco==1">
      <ion-card-content *ngIf="!missionsFiltradas">
        <ion-grid class="ion-no-padding" *ngFor="let missionComplite of puereMissionsCompliteDtc">
          <ion-row class="ion-justify-content-center ion-margin-vertical">
            <ion-col size="10" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>{{missionComplite.cliente}} {{missionComplite.cadena}}</strong></h2>
                  <h3>Visita {{missionComplite.proyecto}}</h3>
                  <p>{{missionComplite.sucursal}}</p>
                  <p>{{missionComplite.fecha | date:'medium'}}</p>
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <button mat-icon-button routerLink="/mission-detail/{{missionComplite.idPV}}">
                <mat-icon class="color-cloudysky">navigate_next</mat-icon>
              </button>
            </ion-col>
          </ion-row>
          <hr>
        </ion-grid>
        <ion-row class="ion-no-margin">
          <ion-col class="ion-text-center ion-no-margin" *ngIf="currentIndexTwo<=totalMissionsTwo">
            <ion-chip class="ion-color ion-color-navyblue chip-outline" (click)="seeMoreTwo()">
              <ion-label>Ver más</ion-label>
              <!-- <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon> -->
            </ion-chip>
          </ion-col>
          <ion-col class="ion-text-center ion-no-margin" *ngIf="currentIndexTwo>totalMissionsTwo">
            <ion-chip class="ion-color ion-color-navyblue chip-outline">
              <ion-label>Se han cargado todos</ion-label>
              <!-- <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon> -->
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <ion-card-content *ngIf="missionsFiltradas">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <button (click)="returnTheFilter()" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                Limpiar filtro
              </button>
            </ion-col>
            <ion-col size="12" *ngIf="missionsFiltradas.length==0">
              <hr>
              <ion-text color="navybluextend" class="ion-text-center">
                <h2 class="align">No hay misiones relizadas en este rango de fecha</h2>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="ion-no-padding" *ngFor="let missionCompliteFilter of missionsFiltradas">
          <ion-row class="ion-justify-content-center ion-margin-vertical">
            <ion-col size="10" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>{{missionCompliteFilter.cliente}} {{missionCompliteFilter.cadena}}</strong></h2>
                  <h3>Visita {{missionCompliteFilter.proyecto}}</h3>
                  <p>{{missionCompliteFilter.sucursal}}</p>
                  <p>{{missionCompliteFilter.fecha | date:'medium'}}</p>
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <button mat-icon-button routerLink="/mission-detail/{{missionCompliteFilter.idPV}}">
                <mat-icon class="color-cloudysky">navigate_next</mat-icon>
              </button>
            </ion-col>
          </ion-row>
          <hr>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="siOnoHayco==0">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>Ahún no tienes misiones realizadas.</strong></h2>
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
<app-footer></app-footer>
