<ion-grid class="ion-no-margin ion-no-padding">
  <ion-row class="bg-whitex row-vertical-cincuenta">
    <ion-col class="ion-no-padding ion-align-self-center ion-text-center">
      <img src="../../../../assets/icon/logo-extend.svg" class="size-logo-login" alt="Logo Extend">
    </ion-col>
  </ion-row>

  <ion-row class="ion-bg-navyblue bg-navyblue row-vertical-cincuenta">
    <ion-col class="ion-no-padding ion-align-self-center ">
      <div style="max-width:570px; margin: auto;">


        <form>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-padding">
                <ion-text class="ion-text-center">
                  <h3>Ingresa tu nueva contraseña</h3>
                  <p>Ingresa minimo 8 caracteres alfanumericos</p>
                </ion-text>
                <hr><hr>
                <div class="example-container">
                  <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>

                  <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                  </mat-form-field>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item>
            <ion-label position="floating"><ion-icon name="keypad-outline"></ion-icon> Contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><ion-icon name="key-outline"></ion-icon> Confirma contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>

           <ion-grid class="ion-padding">
             <ion-row class="ion-justify-content-center">
               <ion-col class="ion-text-center">
                <ion-button  class="ion-margin-top"  color="polarwhite">Limpiar</ion-button>
               </ion-col>
               <ion-col class="ion-text-center">
                <ion-button color="primary" class="ion-margin-top" type="submit">
                   Restablecer <span class="material-icons">
                    keyboard_arrow_right
                    </span>
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-grid>
       </form>

      </div>
    </ion-col>
  </ion-row>
</ion-grid>
