  <mat-panel-title>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-text color=navyblue>
          <h6>{{pregunta}}</h6>
        </ion-text>
      </ion-col>
      <ion-col size="1" *ngIf="isValid==0" class="ion-align-self-center ion-text-center iup-margin-top-sm">
        <ion-icon color= "silverblue" name="shield-outline" style="font-size: 20px;"></ion-icon>
      </ion-col>
      <ion-col size="1" *ngIf="isValid==1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
        <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</mat-panel-title>


  <div class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="this.respuesta.length > 17">
        <img style= "width:220px; height: auto;" src="{{respuesta}}" />
      </ion-col>
      <ion-col *ngIf="this.respuesta.length <= 16">
        <ion-text color="cloudysky" class="ion-text-center">
           <p>No se subio ninguna imagen</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
   </div>
