<mat-panel-title>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-text color=navyblue>
          <h6>{{pregunta}}</h6>
        </ion-text>
      </ion-col>
      <ion-col size="1" *ngIf="isValid==0" class="ion-align-self-center ion-text-center iup-margin-top-sm">
        <ion-icon color= "silverblue" name="shield-outline" style="font-size: 20px;"></ion-icon>
      </ion-col>
      <ion-col size="1" *ngIf="isValid==1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
        <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</mat-panel-title>


  <div class="ion-padding-horizontal">
    <ion-list *ngFor="let dtc of productos; let i = index">
      <ion-item >
        <ion-text color="cloudysky">
        <p> {{dtc.descripcion}}</p>
        <p> {{dtc.sku}}</p>
        <p> {{dtc.nombre}}</p>
        <p> {{dtc.sku}}</p>
        <p> {{dtc.presencia}}</p>
        <p> {{dtc.presentacion}}</p>
        <img src="{{dtc.img}}" style="width: 100px; height: auto;">

        <app-sku-section
        [preguntas]="dtc.preguntas"></app-sku-section>
       
      </ion-text>
      <div>
        <p></p>
      </div>
      <!--<div *ngFor="let p of preguntas; let i = index" [ngSwitch]="p.tipo" >


       
        <div *ngSwitchCase="'numerica'" >
          <app-snumerica-inf
          [idPregunta]="p.idPregunta"
          [pregunta] ="p.pregunta"
          [respuesta] = "p.respuesta"
          [tipo] ="p.tipo"
          ></app-snumerica-inf>
        </div>
        <div *ngSwitchCase="'fotografia'" >
          <app-sfotografia-inf
          [idPregunta]="p.idPregunta"
          [pregunta] ="p.pregunta"
          [respuesta] = "p.respuesta"
          [tipo] ="p.tipo"
          ></app-sfotografia-inf>
        </div>
        <div *ngSwitchCase="'porcentaje'" >
          <app-sporcentaje-inf
          [idPregunta]="p.idPregunta"
          [pregunta] ="p.pregunta"
          [respuesta] = "p.respuesta"
          [tipo] ="p.tipo"
          ></app-sporcentaje-inf>
        </div>
        <div *ngSwitchCase="'decimal'" >
          <app-sdecimal-inf
          [idPregunta]="p.idPregunta"
          [pregunta] ="p.pregunta"
          [respuesta] = "p.respuesta"
          [tipo] ="p.tipo"
          ></app-sdecimal-inf>
          <div *ngSwitchCase="'unicaRadio'" >
            <app-sunica-radio-inf
            [idPregunta]="p.idPregunta"
            [pregunta] ="p.pregunta"
            [respuesta] = "p.respuesta"
            [tipo] ="p.tipo"
            ></app-sunica-radio-inf>
          </div>
        </div>
      </div>-->

      </ion-item>
    </ion-list>
    <ion-list>
    <ion-item >
      <ion-text color="cloudysky">
      <!-- <p> {{tipo}}</p> -->
    </ion-text>
    <!-- <div *ngFor="let lbrg of productos[0].preguntas">
      <p> {{lbrg.idPregunta}}</p>
      <p> {{lbrg.pregunta}}</p>
      <p> {{lbrg.tipo}}</p>

    </div> -->

    </ion-item>
  </ion-list>
   </div>
