<div mat-dialog-content>
    <ion-grid class="ion-no-padding">
      <ion-row  class="bg-{{colorServicio}} ion-justify-content-end ion-padding">
        <ion-col size="3">
          <!-- <ion-fab-button mat-dialog-close color="purplextend">
            <ion-icon name="close-outline" color="polarwhite"></ion-icon>
          </ion-fab-button> -->
      </ion-col>
      </ion-row>
    </ion-grid>
     <div class="ion-padding">
     <ion-grid>
       <ion-row class="ion-justify-content-center">

         <ion-col size="12" class="ion-padding">
           <ion-text class="ion-text-center" [ngSwitch]="colorServicio">
              <h4>
                Para poder aceptar esta misión necesitas haber cursado la habilidad
              </h4>
                  <h4 *ngSwitchCase="'navybluextend'">Mystery Shopper</h4>
                  <h4 *ngSwitchCase="'skybluextend'">Promotoría</h4>
                  <h4 *ngSwitchCase="'purplextend'">Demostrador</h4>
                  <h4 *ngSwitchCase="'greenxtend'">Anaqueleo</h4>
                  <h4 *ngSwitchCase="'yellowxtend'">Analista</h4>
              <h4>

              </h4>

                <!-- <div [ngSwitch]="colorServicio">
                  <div *ngSwitchCase="'navybluextend'">Mystery Shopper</div>
                  <div *ngSwitchCase="'skybluextend'">Promotoría</div>
                  <div *ngSwitchCase="'purplextend'">Demostrador</div>
                  <div *ngSwitchCase="'greenxtend'">Anaqueleo</div>
                  <div *ngSwitchCase="'yellowxtend'">Analista</div>
                </div> -->

           </ion-text>
        </ion-col>
       </ion-row>
     </ion-grid>
     <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <button (click)="training()"  mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
            IR A CONTENIDO
         </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-end">
          <button mat-icon-button color="navybluextend" mat-dialog-close aria-label="cerrar">
            <mat-icon>close</mat-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
     </div>
</div>
