<div mat-dialog-content>
    <ion-grid class="ion-no-padding">
      <ion-row [ngClass]="'bg-purplextend'" class="ion-justify-content-end ion-padding">
        <ion-col size="3">
          <ion-fab-button mat-dialog-close color="purplextend">
            <ion-icon name="close-outline" color="polarwhite"></ion-icon>
          </ion-fab-button>
      </ion-col>
      </ion-row>
    </ion-grid>
     <div class="ion-padding">
     <ion-grid>
       <ion-row class="ion-justify-content-center">

         <ion-col size="12" class="ion-padding">
           <ion-text class="ion-text-center">
              <h4>
                Para poder aceptar esta misión necesitas haber cursado la habilidad Xtend de "Promotoría básica"
              </h4>
           </ion-text>
        </ion-col>
       </ion-row>
     </ion-grid>
     <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <button (click)="home()"  mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
            IR A CONTENIDO
         </button>
        </ion-col>
      </ion-row>
    </ion-grid>
     </div>
</div>
