// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1e9ad5;
  --ion-color-primary-rgb: 30,154,213;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1a88bb;
  --ion-color-primary-tint: #35a4d9;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #825aa5;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #90c04e;
  --ion-color-success-rgb: 60, 70, 84;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #7fb73f;
  --ion-color-success-tint: #7fb73f;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #020c3a;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** navybluextend = misteryshopper **/
  --ion-color-navybluextend: #161949;
  --ion-color-navybluextend-rgb: 2,12,58;
  --ion-color-navybluextend-contrast: #ffffff;
  --ion-color-navybluextend-contrast-rgb: 255,255,255;
  --ion-color-navybluextend-shade: #020b33;
  --ion-color-navybluextend-tint:#eff3f6;

  /** skybluextend **/
  --ion-color-skybluextend: #1e9ad5;
  --ion-color-skybluextend-rgb: 30,154,213;
  --ion-color-skybluextend-contrast: #ffffff;
  --ion-color-skybluextend-contrast-rgb: 255,255,255;
  --ion-color-skybluextend-shade: #1a88bb;
  --ion-color-skybluextend-tint: #35a4d9;

  /** purplextend **/
  --ion-color-purplextend: #825aa5;
  --ion-color-purplextend-rgb: 82, 96, 255;
  --ion-color-purplextend-contrast: #ffffff;
  --ion-color-purplextend-contrast-rgb: 255, 255, 255;
  --ion-color-purplextend-shade: #4854e0;
  --ion-color-purplextend-tint: #6370ff;

  /** greenxtend **/
  --ion-color-greenxtend: #90c04e;
  --ion-color-greenxtend-rgb: 60, 70, 84;
  --ion-color-greenxtend-contrast: #ffffff;
  --ion-color-greenxtend-contrast-rgb: 255, 255, 255;
  --ion-color-greenxtend-shade: #7fb73f;
  --ion-color-greenxtend-tint: #7fb73f;

  /** redxtend **/
  --ion-color-redxtend: #eb445a;
  --ion-color-redxtend-rgb: 235, 68, 90;
  --ion-color-redxtend-contrast: #ffffff;
  --ion-color-redxtend-contrast-rgb: 255, 255, 255;
  --ion-color-redxtend-shade: #cf3c4f;
  --ion-color-redxtend-tint: #ed576b;


  /** Variables color XTEND Extend Navy Blue **/
  --ion-color-navyblue: #020c3a;
  --ion-color-navyblue-rgb: 2,12,58;
  --ion-color-navyblue-contrast: #ffffff;
  --ion-color-navyblue-contrast-rgb: 255,255,255;
  --ion-color-navyblue-shade: #020b33;
  --ion-color-navyblue-tint: #1b244e;
  --ion-border-color: #eff3f6;

  /** Variables color XTEND Extend Cloudy Sky **/
  --ion-color-cloudysky: #3c4654;
  --ion-color-cloudysky-rgb: 60,70,84;
  --ion-color-cloudysky-contrast: #ffffff;
  --ion-color-cloudysky-contrast-rgb: 255,255,255;
  --ion-color-cloudysky-shade: #353e4a;
  --ion-color-cloudysky-tint: #505965;

  /** Variables color XTEND Silver Blue  **/
  --ion-color-silverblue: #9da8b6;
  --ion-color-silverblue-rgb: 157,168,182;
  --ion-color-silverblue-contrast: #020c3a;
  --ion-color-silverblue-contrast-rgb: 0,0,0;
  --ion-color-silverblue-shade: #8a94a0;
  --ion-color-silverblue-tint: #a7b1bd;

  /** Variables color XTEND Ligth Grey **/
  --ion-color-ligthgrey: #d0d3dd;
  --ion-color-ligthgrey-rgb: 208,211,221;
  --ion-color-ligthgrey-contrast: #020c3a;
  --ion-color-ligthgrey-contrast-rgb: 0,0,0;
  --ion-color-ligthgrey-shade: #069e27;
  --ion-color-ligthgrey-tint: #d5d7e0;

  /** Variables color XTEND Polar White **/
  --ion-color-polarwhite: #eff3f6;
  --ion-color-polarwhite-rgb: 239,243,246;
  --ion-color-polarwhite-contrast: #020c3a;
  --ion-color-polarwhite-contrast-rgb: 0,0,0;
  --ion-color-polarwhite-shade: #d2d6d8;
  --ion-color-polarwhite-tint: #f1f4f7;

  /** Variables color XTEND Whitex **/
  --ion-color-whitex: white;
  --ion-color-whitex-rgb: 244, 245, 248;
  --ion-color-whitex-contrast: #020c3a;
  --ion-color-whitex-contrast-rgb: 0, 0, 0;
  --ion-color-whitex-shade: #d7d8da;
  --ion-color-whitex-tint: #f5f6f9;



  /** Variable Background XTEND Navy Blue **/
  --ion-background-color-navyblue: #020c3a;

  /** Variable Background XTEND Night Blue **/
  --ion-background-color-nightblue: #24335e;

  /** Variable Background XTEND Cloudy Sky **/
  --ion-background-color-cloudysky: #3c4654;

  /** Variable Background XTEND Silver Blue **/
  --ion-background-color-silverblue: #9da8b6;

  /** Variable Background XTEND Light Grey **/
  --ion-background-color-lightgrey: #d0d3dd;

  /** Variable Background XTEND Polar White **/
  --ion-background-color-polarwhite: #eff3f6;

  /** Variable Background XTEND Whitex **/
  --ion-background-color-whitex: white;

  /** Variable Background XTEND Verde **/
  --ion-background-color-green: #7fb73f;

  /** Variable Background XTEND Primary **/
  --ion-background-color-primary: #1e9ad5;

  /** Variable Background XTEND Purple **/
  --ion-background-color-purple: #825aa5;

  /** Variable Background XTEND Red **/
  --ion-background-color-red: #eb445a;





  --ion-font-family: "Montserrat";
}



.montserrat{
  font-family:var(--ion-font-family) !important;
}


/** navybluextend = misteryshopper Color XTEND **/
.ion-color-navybluextend{
  --ion-color-base:var(--ion-color-navybluextend) !important;
  --ion-color-rgb:var(--ion-color-navybluextend-rgb) !important;
  --ion-color-contrast:var(--ion-color-navybluextend-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-navybluextend-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-navybluextend-shade) !important;
  --ion-color-tint:var(--ion-color-navybluextend-tint) !important;
  --ion-border-color:var(--ion-border-color);
}


/** skybluextend = promotor Color XTEND **/
.ion-color-skybluextend{
  --ion-color-base:var(--ion-color-skybluextend) !important;
  --ion-color-rgb:var(--ion-color-skybluextend-rgb) !important;
  --ion-color-contrast:var(--ion-color-skybluextend-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-skybluextend-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-skybluextend-shade) !important;
  --ion-color-tint:var(--ion-color-skybluextend-tint) !important;
  --ion-border-color:var(--ion-border-color);
}

/** purplextend = demostrador Color XTEND **/
.ion-color-purplextend{
  --ion-color-base:var(--ion-color-purplextend) !important;
  --ion-color-rgb:var(--ion-color-purplextend-rgb) !important;
  --ion-color-contrast:var(--ion-color-purplextend-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-purplextend-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-purplextend-shade) !important;
  --ion-color-tint:var(--ion-color-purplextend-tint) !important;
  --ion-border-color:var(--ion-border-color);
}

/** greenxtend = anaqueleo Color XTEND **/
.ion-color-greenxtend{
  --ion-color-base:var(--ion-color-greenxtend) !important;
  --ion-color-rgb:var(--ion-color-greenxtend-rgb) !important;
  --ion-color-contrast:var(--ion-color-greenxtend-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-greenxtend-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-greenxtend-shade) !important;
  --ion-color-tint:var(--ion-color-greenxtend-tint) !important;
  --ion-border-color:var(--ion-border-color);
}

/** redxtend = red Color XTEND **/
.ion-color-redxtend{
  --ion-color-base:var(--ion-color-redxtend) !important;
  --ion-color-rgb:var(--ion-color-redxtend-rgb) !important;
  --ion-color-contrast:var(--ion-color-redxtend-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-redxtend-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-redxtend-shade) !important;
  --ion-color-tint:var(--ion-color-redxtend-tint) !important;
  --ion-border-color:var(--ion-border-color);
}




/** Color XTEND Extend Navy Blue **/
.ion-color-navyblue{
  --ion-color-base:var(--ion-color-navyblue) !important;
  --ion-color-rgb:var(--ion-color-navyblue-rgb) !important;
  --ion-color-contrast:var(--ion-color-navyblue-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-navyblue-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-navyblue-shade) !important;
  --ion-color-tint:var(--ion-color-navyblue-tint) !important;
  --ion-border-color:var(--ion-border-color);
    color:var(--ion-color-navyblue) !important;
}

/** Color XTEND Extend Cloudy Sky **/
.ion-color-cloudysky{
  --ion-color-base:var(--ion-color-cloudysky) !important;
  --ion-color-rgb:var(--ion-color-cloudysky-rgb) !important;
  --ion-color-contrast:var(--ion-color-cloudysky-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-cloudysky-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cloudysky-shade) !important;
  --ion-color-tint:var(--ion-color-cloudysky-tint) !important;
}

/** Color XTEND Extend Silver Blue **/
.ion-color-silverblue{
  --ion-color-base:var(--ion-color-silverblue) !important;
  --ion-color-rgb:var(--ion-color-silverblue-rgb) !important;
  --ion-color-contrast:var(--ion-color-silverblue-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-silverblue-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-silverblue-shade) !important;
  --ion-color-tint:var(--ion-color-silverblue-tint) !important;
}

/** Color XTEND Extend Light Grey **/
.ion-color-lightgrey{
  --ion-color-base:var(--ion-color-lightgrey) !important;
  --ion-color-rgb:var(--ion-color-lightgrey-rgb) !important;
  --ion-color-contrast:var(--ion-color-lightgrey-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-lightgrey-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-lightgrey-shade) !important;
  --ion-color-tint:var(--ion-color-lightgrey-tint) !important;
}

/** Color XTEND Extend Polar White **/
.ion-color-polarwhite{
  --ion-color-base:var(--ion-color-polarwhite) !important;
  --ion-color-rgb:var(--ion-color-polarwhite-rgb) !important;
  --ion-color-contrast:var(--ion-color-polarwhite-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-polarwhite-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-polarwhite-shade) !important;
  --ion-color-tint:var(--ion-color-polarwhite-tint) !important;
}

/** Color XTEND Extend Polar White **/
.ion-color-whitex{
  --ion-color-base:var(--ion-color-whitex) !important;
  --ion-color-rgb:var(--ion-color-whitex-rgb) !important;
  --ion-color-contrast:var(--ion-color-whitex-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-whitex-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-whitex-shade) !important;
  --ion-color-tint:var(--ion-color-whitex-tint) !important;
}

/** Background XTEND Navy Blue **/
.ion-bg-navyblue {
    --ion-background-color: #020c3a !important;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #9da8b6;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #020c3a;

    --ion-card-background: #020c3a;
  }

  // Background XTEND PolarWhite
  .ion-bg-polarwhite{

      --ion-background-color: #eff3f6;
      --ion-background-color-rgb: 239,243,246;

      --ion-text-color: #3c4654;
      --ion-text-color-rgb: 60,70,84;

      --ion-color-step-50: #e6eaee;
      --ion-color-step-100: #dde2e6;
      --ion-color-step-150: #d4d9de;
      --ion-color-step-200: #cbd0d6;
      --ion-color-step-250: #c2c8ce;
      --ion-color-step-300: #b9bfc5;
      --ion-color-step-350: #b0b6bd;
      --ion-color-step-400: #a7aeb5;
      --ion-color-step-450: #9ea5ad;
      --ion-color-step-500: #969da5;
      --ion-color-step-550: #8d949d;
      --ion-color-step-600: #848b95;
      --ion-color-step-650: #7b838d;
      --ion-color-step-700: #727a85;
      --ion-color-step-750: #69717d;
      --ion-color-step-800: #606974;
      --ion-color-step-850: #57606c;
      --ion-color-step-900: #4e5764;
      --ion-color-step-950: #454f5c;
  }

  /** Background XTEND Navy Blue **/
  .bg-navyblue{background-color: var(--ion-background-color-navyblue) !important;}

  /** Background XTEND Night Blue **/
  .bg-nightblue{background-color: var(--ion-background-color-nightblue) !important;}

  /** Background XTEND Cloudy Sky **/
  .bg-cloudysky{background-color: var(--ion-background-color-cloudysky) !important;}

  /** Background XTEND Silver Blue **/
  .bg-silverblue{background-color: var(--ion-background-color-silverblue) !important;}

  /** Background XTEND Light Grey **/
  .bg-lightgrey{background-color: var(--ion-background-color-lightgrey) !important;}

  /** Background XTEND Polar White **/
  .bg-polarwhite{background-color: var(--ion-background-color-polarwhite) !important;}

  /** Background XTEND Whitex **/
  .bg-whitex{background-color: var(--ion-background-color-whitex) !important;}

  /** Background XTEND Green **/
  .bg-green{background-color: var(--ion-background-color-green) !important;}

  /** Background XTEND Primary **/
  .bg-primary{background-color: var(--ion-background-color-primary) !important;}

  // Background estados xtend
  .bg-navybluextend{background-color: var(--ion-background-color-navyblue);}
  .bg-skybluextend{background-color: var(--ion-background-color-primary);}
  .bg-purplextend{background-color: var(--ion-background-color-purple);}
  .bg-greenxtend{background-color: var(--ion-background-color-green);}
  .bg-redxtend{background-color: var(--ion-background-color-red);}


// @media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  // body {
  //   --ion-color-primary: #428cff;
  //   --ion-color-primary-rgb: 66,140,255;
  //   --ion-color-primary-contrast: #ffffff;
  //   --ion-color-primary-contrast-rgb: 255,255,255;
  //   --ion-color-primary-shade: #3a7be0;
  //   --ion-color-primary-tint: #5598ff;

  //   --ion-color-secondary: #50c8ff;
  //   --ion-color-secondary-rgb: 80,200,255;
  //   --ion-color-secondary-contrast: #ffffff;
  //   --ion-color-secondary-contrast-rgb: 255,255,255;
  //   --ion-color-secondary-shade: #46b0e0;
  //   --ion-color-secondary-tint: #62ceff;

  //   --ion-color-tertiary: #6a64ff;
  //   --ion-color-tertiary-rgb: 106,100,255;
  //   --ion-color-tertiary-contrast: #ffffff;
  //   --ion-color-tertiary-contrast-rgb: 255,255,255;
  //   --ion-color-tertiary-shade: #5d58e0;
  //   --ion-color-tertiary-tint: #7974ff;

  //   --ion-color-success: #2fdf75;
  //   --ion-color-success-rgb: 47,223,117;
  //   --ion-color-success-contrast: #000000;
  //   --ion-color-success-contrast-rgb: 0,0,0;
  //   --ion-color-success-shade: #29c467;
  //   --ion-color-success-tint: #44e283;

  //   --ion-color-warning: #ffd534;
  //   --ion-color-warning-rgb: 255,213,52;
  //   --ion-color-warning-contrast: #000000;
  //   --ion-color-warning-contrast-rgb: 0,0,0;
  //   --ion-color-warning-shade: #e0bb2e;
  //   --ion-color-warning-tint: #ffd948;

  //   --ion-color-danger: #ff4961;
  //   --ion-color-danger-rgb: 255,73,97;
  //   --ion-color-danger-contrast: #ffffff;
  //   --ion-color-danger-contrast-rgb: 255,255,255;
  //   --ion-color-danger-shade: #e04055;
  //   --ion-color-danger-tint: #ff5b71;

  //   --ion-color-dark: #f4f5f8;
  //   --ion-color-dark-rgb: 244,245,248;
  //   --ion-color-dark-contrast: #000000;
  //   --ion-color-dark-contrast-rgb: 0,0,0;
  //   --ion-color-dark-shade: #d7d8da;
  //   --ion-color-dark-tint: #f5f6f9;

  //   --ion-color-medium: #989aa2;
  //   --ion-color-medium-rgb: 152,154,162;
  //   --ion-color-medium-contrast: #000000;
  //   --ion-color-medium-contrast-rgb: 0,0,0;
  //   --ion-color-medium-shade: #86888f;
  //   --ion-color-medium-tint: #a2a4ab;

  //   --ion-color-light: #222428;
  //   --ion-color-light-rgb: 34,36,40;
  //   --ion-color-light-contrast: #ffffff;
  //   --ion-color-light-contrast-rgb: 255,255,255;
  //   --ion-color-light-shade: #1e2023;
  //   --ion-color-light-tint: #383a3e;
  // }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  // .ios body {
  //   --ion-background-color: #020c3a;
  //   --ion-background-color-rgb: 0,0,0;

  //   --ion-text-color: #ffffff;
  //   --ion-text-color-rgb: 255,255,255;

  //   --ion-color-step-50: #0d0d0d;
  //   --ion-color-step-100: #1a1a1a;
  //   --ion-color-step-150: #262626;
  //   --ion-color-step-200: #333333;
  //   --ion-color-step-250: #404040;
  //   --ion-color-step-300: #4d4d4d;
  //   --ion-color-step-350: #595959;
  //   --ion-color-step-400: #666666;
  //   --ion-color-step-450: #9da8b6;
  //   --ion-color-step-500: #808080;
  //   --ion-color-step-550: #8c8c8c;
  //   --ion-color-step-600: #999999;
  //   --ion-color-step-650: #a6a6a6;
  //   --ion-color-step-700: #b3b3b3;
  //   --ion-color-step-750: #bfbfbf;
  //   --ion-color-step-800: #cccccc;
  //   --ion-color-step-850: #d9d9d9;
  //   --ion-color-step-900: #e6e6e6;
  //   --ion-color-step-950: #f2f2f2;

  //   --ion-item-background: #020c3a;

  //   --ion-card-background: #020c3a;
  // }

  // .ios ion-modal {
  //   --ion-background-color: var(--ion-color-step-100);
  //   --ion-toolbar-background: var(--ion-color-step-150);
  //   --ion-toolbar-border-color: var(--ion-color-step-250);
  // }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  // .md body {
  //   --ion-background-color: #121212;
  //   --ion-background-color-rgb: 18,18,18;

  //   --ion-text-color: #ffffff;
  //   --ion-text-color-rgb: 255,255,255;

  //   --ion-border-color: #222222;

  //   --ion-color-step-50: #1e1e1e;
  //   --ion-color-step-100: #2a2a2a;
  //   --ion-color-step-150: #363636;
  //   --ion-color-step-200: #414141;
  //   --ion-color-step-250: #4d4d4d;
  //   --ion-color-step-300: #595959;
  //   --ion-color-step-350: #656565;
  //   --ion-color-step-400: #717171;
  //   --ion-color-step-450: #7d7d7d;
  //   --ion-color-step-500: #898989;
  //   --ion-color-step-550: #949494;
  //   --ion-color-step-600: #a0a0a0;
  //   --ion-color-step-650: #acacac;
  //   --ion-color-step-700: #b8b8b8;
  //   --ion-color-step-750: #c4c4c4;
  //   --ion-color-step-800: #d0d0d0;
  //   --ion-color-step-850: #dbdbdb;
  //   --ion-color-step-900: #e7e7e7;
  //   --ion-color-step-950: #f3f3f3;

  //   --ion-item-background: #1e1e1e;

  //   --ion-toolbar-background: #1f1f1f;

  //   --ion-tab-bar-background: #1f1f1f;

  //   --ion-card-background: #1e1e1e;
  // }
// }
