<ion-header #header>
  <app-header-two titulo="Wallet"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <div>
      <ion-card class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-text color="cloudysky">
                <p class="iup-txt-xxl">
                  Orden de transferencia realizada por
                </p>
              </ion-text>
              <ion-text color="cloudysky">
                <h1 class="iup-txt-xxl">
                  <!-- $100.00 mx -->
                  ${{baroSolicitado  | currency}} mx
                </h1>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <div>
      <ion-card class="ion-padding">
        <ion-grid class="ion-no-margin ion-padding">
          <ion-row class="ion-align-items-center ion-padding-bottom ion-margin-bottom" style="border-bottom: solid 1px #D8DBE3;">
            <ion-col size="6" class="ion-no-padding ion-text-left">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  Fecha de orden:
                </p>
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-right">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  <!-- 00/00/2022 -->
                  {{fechaOrden}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-padding-bottom ion-margin-bottom" style="border-bottom: solid 1px #D8DBE3;">
            <ion-col size="6" class="ion-no-padding ion-text-left">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  No. de operación.:
                </p>
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-right">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  <!-- 0001000 -->
                  {{nOperation}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-padding-bottom ion-margin-bottom" style="border-bottom: solid 1px #D8DBE3;">
            <ion-col size="6" class="ion-no-padding ion-text-left">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  Cuenta:
                </p>
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-right">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  <!-- 01976152524617162524 -->
                  {{cuentaBen}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-padding-bottom ion-margin-bottom" style="border-bottom: solid 1px #D8DBE3;">
            <ion-col size="6" class="ion-no-padding ion-text-left">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  Nombre del beneficiario:
                </p>
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-right">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  <!-- Pedro Ramírez López -->
                  {{nombreBen}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-padding-bottom ion-margin-bottom" style="border-bottom: solid 1px #D8DBE3;">
            <ion-col size="6" class="ion-no-padding ion-text-left">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  Aplicar en:
                </p>
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-right">
              <ion-text color="cloudysky">
                <p style="font-weight: 600;">
                  48 hrs.
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-margin-bottom ion-text-center">
              <ion-button fill="outline" size="small"><ion-icon name="download-outline"></ion-icon> Descargar</ion-button>
              <!-- <ion-fab vertical="center" horizontal="center">
                <ion-fab-button color="polarwhite">
                  <ion-icon name="download-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-text-left">
              <button routerLink="/wallet/earned-money" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend ion-text-uppercase">
                OTRA TRANSFERENCIA
              </button>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <button routerLink="/wallet/main" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend ion-text-uppercase">
                CERRAR
              </button>
            </ion-col>
          </ion-row>


        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>

