<div id="Pdfiupck" class="box bg-crenetial" style='background-image: url(../../../assets/img/fondoCredencial.png);'>
  <div class="bx-log bg-center-xy" style='background-image: url(../../../assets/img/sams.png);'></div>
  <div class="foto bg-center-xy" style='background-image: url(../../../assets/img/fotomuestra.png);'></div>
  <div class="textuno">
    DEMOSTRADOR
  </div>
  <div class="textunoa">
    Dulce Morales Fuentes
  </div>
  <div class="textdos">N.S.S Y78973475936783</div>
  <div class="textdos">R.F.C. HESF765784E45</div>
  <div class="firma bg-center-xy" style='background-image: url(../../../assets/img/firma-muestra.png);'></div>
</div>
<ion-fab vertical="bottom" horizontal="end" (click)="credentialTest()">
  <ion-fab-button color="navybluextend">
    <ion-icon name="send-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
