
<ion-content class="bg-navyblue">
<ion-grid class="ion-no-margin ion-no-padding">
  <ion-row class="bg-whitex row-vertical-cincuenta">
    <ion-col class="ion-no-padding ion-align-self-center ion-text-center">
      <img src="../../../../assets/icon/logo-extend.svg" class="size-logo-login" alt="Logo Extend">
    </ion-col>
  </ion-row>

  <ion-row class="ion-bg-navyblue bg-navyblue row-vertical-cincuenta ion-padding">
    <ion-col class="ion-no-padding ion-align-self-center ">
      <div class="ion-text-center" style="max-width:570px; margin: auto;">

        <form>

          <ion-text color="polarwhite">
            <h1>Registro</h1>
          </ion-text>
          <ion-item>
            <ion-label position="floating"><ion-icon name="man-outline"></ion-icon> Nombre</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">A. Paterno</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-label position="floating">A. Materno</ion-label>
            <ion-input></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon> E mail</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><ion-icon name="phone-portrait-outline"></ion-icon> Celular</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><ion-icon name="keypad-outline"></ion-icon> Contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><ion-icon name="key-outline"></ion-icon> Confirma contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>

           <ion-grid>
             <ion-row class="ion-justify-content-center">
               <ion-col class="ion-text-center">
                   <ion-button  type="submit" class="ion-margin-top"  color="polarwhite">Regístrate</ion-button>
               </ion-col>
             </ion-row>
           </ion-grid>
       </form>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
