<ion-header #header>
  <app-header-two titulo="Movimientos"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="ion-align-self-center ion-margin-end">
            <div class="box-img border-rodondos">
              <ion-icon color="success" class="iup-icon-size-xl" src="../../assets/icon/wallet.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="9" class="ion-align-self-center">
            <ion-label>
              <ion-text color="cloudysky">
                <h2 class="ion-no-margin">Saldo Total</h2>
                <h1 class="iup-txt-xxl" style="font-weight:700;">
                  ${{saldoTotal}} mx
                </h1>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2" class="ion-align-self-center ion-margin-end">
            <div class="box-img border-rodondos">
              <ion-icon color="primary" class="iup-icon-size-xl" src="../../assets/icon/wallet.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="9" class="ion-align-self-center">
            <ion-label>
              <ion-text color="cloudysky">

                <h4 class="ion-no-margin">Por liberar {{saldoPendiente}} mx</h4>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="ion-align-self-center ion-margin-end">
            <div class="box-img border-rodondos">
              <ion-icon color="navyblue" class="iup-icon-size-xl" src="../../assets/icon/wallet.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="9" class="ion-align-self-center">
            <ion-label>
              <ion-text color="cloudysky">
                <h2 class="ion-no-margin">Total ganado</h2>
                <h1 class="iup-txt-xxl" style="font-weight:normal;">
                  ${{totalGanado}} mx
                </h1>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-row class="ion-padding-horizontal">
      <ion-col size="12" class="ion-text-start ion-align-self-center">
        <ion-text color="navyblue">
          <h6 class="ion-no-margin">Detalle de movimientos</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-card class="ion-margin-vertical">
      <ion-grid>
        <ion-row >
          <ion-col size="12" class="ion-text-center ion-align-self-center">
            <!-- <mat-form-field appearance="outline">
              <mat-label>Periodo</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Inicio">
                <input matEndDate placeholder="Final">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field> -->
            <form [formGroup] = "movimientosdtc" (ngSubmit) = "filterMovimientos()">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Periodo</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="startDate" placeholder="Inicio">
                  <input matEndDate formControlName="endDate" placeholder="Fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="movimientosdtc.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="movimientosdtc.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
              <button type="submit" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                Filtrar
            </button>
      </form>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="movimientosFiltradas">
        <ion-row>
          <ion-col size="12" *ngIf="movimientosFiltradas.length==0">
            <hr>
            <ion-text color="navybluextend" class="ion-text-center">
              <p class="align">No hay movimientos relizados en este rango de fecha</p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-margin ion-no-padding" *ngFor="let movFil of movimientosFiltradas">
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <mat-accordion>
              <mat-expansion-panel style="margin: 0px; padding: 0px; box-shadow:0px 0px 0px 0px;">
                <mat-expansion-panel-header style="margin: 0px 0px 0px 0px; padding: 0px 16px 0px 0px;">
                  <mat-panel-title>
                    <ion-grid class="ion-no-margin ion-no-padding">
                    <!-- aqui va lo del cambio de color dependiendo del status de su pago: [ngStyle]="{borderLeft: '4px solid #7fb73f'}"-->
                    <!-- {{detallemovimiento.color}} -->
                    <ion-row  class="ion-padding-start ion-margin-vertical" [ngStyle]="{'borderLeft': '4px solid '+ movFil.color}">
                      <ion-col size="6" class="iup-border-bottom-grey">
                         <ion-grid class="ion-no-margin ion-no-padding">
                           <ion-row>
                             <ion-col size="12" class="ion-align-self-end  ion-padding-bottom">
                              <ion-text color="cloudysky" *ngIf="movFil.saldo > 0">
                                <h6 class="ion-no-margin" style="font-weight: 600;" >{{movFil.nombreCliente}}</h6>
                                <h6 class="ion-no-margin" style="font-weight: 600;" >Retiro a cuenta</h6>
                                <p class="ion-no-margin">{{movFil.nombreServicio}}</p>
                              </ion-text>
                              <ion-text color="cloudysky" *ngIf="movFil.saldo < 0">
                               <h6 class="ion-no-margin" style="font-weight: 600;" *ngIf="movFil.saldo < 0">Retiro a cuenta</h6>
                               <!-- <p class="ion-no-margin">{{detallemovimiento.banco}} | {{detallemovimiento.cuenta}}</p> -->
                             </ion-text>
                             </ion-col>
                             <ion-col size="12" class="ion-align-self-end ion-no-padding">
                              <ion-text color="cloudysky">
                                <p class="ion-no-margin">{{movFil.fecha | date:'short' }}</p>
                              </ion-text>
                            </ion-col>
                           </ion-row>
                         </ion-grid>
                      </ion-col>
                      <ion-col size="6" class="ion-align-self-end iup-border-bottom-grey">
                        <ion-text color="cloudysky" class="ion-text-right ion-text-end">
                          <h6 class="ion-no-margin ion-padding-horizontal"><span style="font-weight: 600;" [ngStyle]="{color: 'cloudysky'}">${{movFil.saldo}}</span> MX</h6>
                        </ion-text>
                        <ion-text color="cloudysky" class="ion-text-right ion-text-end">
                          <p class="ion-no-margin ion-padding-horizontal">{{movFil.estatus}}</p>
                        </ion-text>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>

                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <ion-grid class="ion-margin-horizontal" *ngIf="movFil.saldo > 0">
                  <ion-row>
                    <ion-col class="ion-padding-horizontal">
                      <p class="ion-no-margin">
                        {{movFil.detalle}}
                      </p>
                      <p class="ion-no-margin">
                        Cadena: {{movFil.cadena}}
                      </p>
                      <p class="ion-no-margin">
                        Sucursal: {{movFil.sucursal}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid class="ion-margin-horizontal" *ngIf="movFil.saldo < 0">
                  <ion-row>
                    <ion-col class="ion-padding-horizontal">
                      <p class="ion-no-margin">
                        {{movFil.detalle}}
                      </p>
                      <p class="ion-no-margin">
                        Banco: {{movFil.banco}}
                      </p>
                      <p class="ion-no-margin">
                        Cuenta: {{movFil.cuenta}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-expansion-panel>
            </mat-accordion>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <button (click)="returnTheFilter()" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
              Limpiar filtro
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-grid class="ion-no-margin ion-no-padding" *ngIf="!movimientosFiltradas">
        <ion-row class="ion-no-margin ion-no-padding" *ngFor='let detallemovimiento of movimientos'>
          <ion-col class="ion-no-margin ion-no-padding">
            <mat-accordion>
              <mat-expansion-panel style="margin: 0px; padding: 0px; box-shadow:0px 0px 0px 0px;">
                <mat-expansion-panel-header style="margin: 0px 0px 0px 0px; padding: 0px 16px 0px 0px;">
                  <mat-panel-title>
                    <ion-grid class="ion-no-margin ion-no-padding">
                    <!-- aqui va lo del cambio de color dependiendo del status de su pago: [ngStyle]="{borderLeft: '4px solid #7fb73f'}"-->
                    <!-- {{detallemovimiento.color}} -->
                    <ion-row  class="ion-padding-start ion-margin-vertical" [ngStyle]="{'borderLeft': '4px solid '+ detallemovimiento.color}">
                      <ion-col size="6" class="iup-border-bottom-grey">
                         <ion-grid class="ion-no-margin ion-no-padding">
                           <ion-row>
                             <ion-col size="12" class="ion-align-self-end  ion-padding-bottom">
                               <ion-text color="cloudysky" *ngIf="detallemovimiento.saldo > 0">
                                 <h6 class="ion-no-margin" style="font-weight: 600;" >{{detallemovimiento.nombreCliente}}</h6>
                                 <h6 class="ion-no-margin" style="font-weight: 600;" >Retiro a cuenta</h6>
                                 <p class="ion-no-margin">{{detallemovimiento.nombreServicio}}</p>
                               </ion-text>
                               <ion-text color="cloudysky" *ngIf="detallemovimiento.saldo < 0">
                                <h6 class="ion-no-margin" style="font-weight: 600;" *ngIf="detallemovimiento.saldo < 0">Retiro a cuenta</h6>
                                <!-- <p class="ion-no-margin">{{detallemovimiento.banco}} | {{detallemovimiento.cuenta}}</p> -->
                              </ion-text>
                             </ion-col>
                             <ion-col size="12" class="ion-align-self-end ion-no-padding">
                              <ion-text color="cloudysky">
                                <p class="ion-no-margin">{{detallemovimiento.fecha | date:'short' }}</p>
                              </ion-text>
                            </ion-col>
                           </ion-row>
                         </ion-grid>
                      </ion-col>
                      <ion-col size="6" class="ion-align-self-end iup-border-bottom-grey">
                        <ion-text color="cloudysky" class="ion-text-right ion-text-end">
                          <h6 class="ion-no-margin ion-padding-horizontal"><span style="font-weight: 600;" [ngStyle]="{color: 'cloudysky'}">${{detallemovimiento.saldo}}</span> MX</h6>
                        </ion-text>
                        <ion-text color="cloudysky" class="ion-text-right ion-text-end">
                          <p class="ion-no-margin ion-padding-horizontal">{{detallemovimiento.estatus}}</p>
                        </ion-text>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>

                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <ion-grid class="ion-margin-horizontal" *ngIf="detallemovimiento.saldo > 0">
                  <ion-row>
                    <ion-col class="ion-padding-horizontal">
                      <p class="ion-no-margin">
                        {{detallemovimiento.detalle}}
                      </p>
                      <p class="ion-no-margin">
                        Cadena: {{detallemovimiento.cadena}}
                      </p>
                      <p class="ion-no-margin">
                        Sucursal: {{detallemovimiento.sucursal}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid class="ion-margin-horizontal" *ngIf="detallemovimiento.saldo < 0">
                  <ion-row>
                    <ion-col class="ion-padding-horizontal">
                      <p class="ion-no-margin">
                        {{detallemovimiento.detalle}}
                      </p>
                      <p class="ion-no-margin">
                        Banco: {{detallemovimiento.banco}}
                      </p>
                      <p class="ion-no-margin">
                        Cuenta: {{detallemovimiento.cuenta}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-expansion-panel>
            </mat-accordion>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>
