<ion-header translucent>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon size="large" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc">
    <ion-grid class=" ion-padding-bottom">
      <ion-row class="ion-padding-horizontal">
        <ion-col size="12" class="ion-text-start ion-align-self-center">
          <ion-text routerLink="/mymissions" color="navyblue">
            <h1>
              Estoy de acuerdo en la transferencia de estos fondos
            </h1>
            <p class="ion-no-margin">Aqui van los pex de transferencia de estos fondos</p>
          </ion-text>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="dismiss()">Aceptar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>



