<ion-header #header>
  <app-header-two titulo="Inicio de misión"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <div>
      <ion-card>
        <ion-grid class="ion-no-padding">
          <ion-row [ngClass]="'bg-skybluextend'">
            <ion-col size="3" class="ion-padding ion-justify-content-center ion-align-self-center">
              <div class="box-img border-rodondos">
                <img src="../../assets/img/shell.svg" class="img-full img-icon">
              </div>
            </ion-col>
            <ion-col size="9" class="ion-padding">
             <div class="ion-text-start">
               <ion-label>
                 <ion-text color="polarwhite">
                   <h3><strong>Marca</strong></h3>
                   <h4>Proyecto</h4>
                   <h4>Tienda la Comer | Santa Jose</h4>
                   <h4>Ciudad de México</h4>
                 </ion-text>
               </ion-label>
             </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="10" class="ion-padding">
              <ion-text color="navyblue">
                <h6>
                  Durante tu visita, llena el formulario correspondiente:
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>


       <div class="body-preload" *ngIf="isLoaded==0">
          <app-preload></app-preload>
        </div>

        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size="12" class="ion-no-margin">
              <mat-accordion *ngFor="let p of preguntas; let i = index"  >
                  <app-section
                      [capturaSKU]="p.capturaSKU"
                      [idProyecto]="p.idProyecto"
                      [idSondeo]="p.idSondeo"
                      [iterativo]="p.iterativo"
                      [obligatorio]="p.obligatorio"
                      [orden]="p.orden"
                      [preguntas]="p.preguntas"
                      [sondeo]="p.sondeo"
                  >
              </app-section>
              </mat-accordion>
            </ion-col>
            <ion-col *ngIf="isLoaded==1" size="12" class="ion-margin">
              <div class="iup-button-row">
                <button mat-stroked-button *ngIf="validSondeo==1"  (click)="sendSondeo()" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend"> ENVIAR</button>
                <button mat-stroked-button *ngIf="validSondeo==0"  (click)="review()" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend"> REVISAR</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <ion-button (click)="openDialog()">Btn para test del modal</ion-button> -->
      </ion-card>
    </div>
  </div>

</ion-content>
<app-footer></app-footer>
