<ion-header #header>
  <app-header-two titulo="Inicio de misión"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <div>
      <ion-card>
        <ion-grid class="ion-no-padding">
          <ion-row [ngClass]="'bg-skybluextend'">
            <ion-col size="3" class="ion-padding ion-justify-content-center ion-align-self-center">
              <div class="box-img border-rodondos">
                <img src="../../assets/img/shell.svg" class="img-full img-icon">
              </div>
            </ion-col>
            <ion-col size="9" class="ion-padding">
             <div class="ion-text-start">
               <ion-label>
                 <ion-text color="polarwhite">
                   <h3><strong>Marca</strong></h3>
                   <h4>Proyecto</h4>
                   <h4>Tienda la Comer | Santa Jose</h4>
                   <h4>Ciudad de México</h4>
                 </ion-text>
               </ion-label>
             </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-padding-horizontal">
              <ion-text color="navyblue">
                <h6>
                  Durante tu visita, llena el formulario correspondiente:
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div *ngIf="isLoaded==0" style="height: 250px;">
          <app-preload></app-preload>
        </div>

        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size="12" class="ion-no-margin">
              <mat-accordion *ngFor="let p of preguntas; let i = index" [ngSwitch]="p.tipo" >
                <!--<mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10" class="ion-align-self-center">
                            <ion-text color="navyblue">
                              <h6 class="ion-no-margin">Ingreso a tienda</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="ion-padding-horizontal">
                    <ion-item>
                      <p> 1. Registro en vitacora de la tienda</p> <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <p> 2. Saludar al jefe de piso</p> <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                    </ion-item>
                    <div class="iup-button-row">
                      <button  mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                         GUARDAR
                      </button>
                    </div>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10">
                            <ion-text color=navyblue>
                              <h6>Anaquel | Bunker</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="ion-padding-horizontal">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col size="12" class="ion-padding-horizontal">
                          <ion-text color="navyblue">
                            <p class="ion-no-margin"><strong>Toma fotografía del anaquel y como lo encontraste</strong></p>
                          </ion-text>
                        </ion-col>
                        <ion-col size="12">
                          <div class="iup-button-row">
                            <button (click)="selectCamera()" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                               TOMAR FOTO
                            </button>
                            <button (click)="selectGalery()" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" >
                              BUSCAR EN GALERÍA
                            </button>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <ion-segment  scrollable style="padding-bottom: 16px !important; padding-top: 16px !important;" class="bg-whitex">
                            <ion-segment-button *ngFor="let file of images; let i = index" >
                              <div class="iup-box-pre-view-photo" style='background-image: url("{{file.data}}");'></div>
                            </ion-segment-button>
                            <!--<ion-segment-button>
                              <div class="iup-box-pre-view-photo" style='background-image: url("../../../assets/img/imagenes_swipes-02.png");'></div>
                            </ion-segment-button>
                            <ion-segment-button>
                              <div class="iup-box-pre-view-photo" style='background-image: url("../../../assets/img/izzi.png");'></div>
                            </ion-segment-button>
                            <ion-segment-button>
                              <div class="iup-box-pre-view-photo" style='background-image: url("../../../assets/img/patines.jpg");'></div>
                            </ion-segment-button>
                            <ion-segment-button>
                              <div class="iup-box-pre-view-photo" style='background-image: url("../../../assets/img/patines.jpg");'></div>
                            </ion-segment-button>
                          </ion-segment>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <hr>
                    <ion-grid class="ion-margin-top">
                      <ion-row>
                        <ion-col size="12" class="ion-padding-horizontal">
                          <ion-text color="navyblue">
                            <p class="ion-no-margin"><strong>Buscar el producto</strong></p>
                          </ion-text>
                        </ion-col>
                        <ion-col class="ion-margin">
                          <ion-searchbar outline animated
                            placeholder="BUSCAR PRODUCTO" mode="ios"
                            [debounce]="500"
                          >
                          </ion-searchbar>
                        </ion-col>
                      </ion-row>

                      <ion-row class="ion-padding-horizontal">
                        <ion-col size="12" class="ion-text-center">
                          <ion-chip outline color="silverblue" expand="block">
                            <ion-icon name="barcode-outline"></ion-icon>
                            <ion-label color="navyblue">CAPTURAR CODIGO DE BARRAS</ion-label>
                          </ion-chip>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-margin-horizontal">
                        <ion-col size="6" class="ion-align-self-center">
                          <ion-text color="navyblue" class="ion-text-left"><p><strong>Nombre</strong></p></ion-text>
                        </ion-col>
                        <ion-col size="3" class="ion-align-self-center">
                          <ion-text color="navyblue" class="ion-text-left"><p><strong>Pres</strong></p></ion-text>
                        </ion-col>
                        <ion-col size="3" class="ion-align-self-center">
                          <ion-text color="navyblue" class="ion-text-left"><p><strong>Presencia</strong></p></ion-text>
                        </ion-col>
                      </ion-row>
                       <ion-row *ngFor="let producto of productos" class="ion-margin-horizontal" (click)="openDialog()">
                        <ion-col size="6" class="ion-align-self-center">
                          <ion-text color="navyblue" class="ion-text-left"><p>{{producto.nombre}}</p></ion-text>
                        </ion-col>
                        <ion-col size="3" class="ion-align-self-center">
                          <ion-text color="navyblue" class="ion-text-left"><p>{{producto.pres}}</p></ion-text>
                        </ion-col>
                        <ion-col size="3" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                          <ion-icon name="{{producto.presencia}}" color="{{producto.color}}" style="font-size: 20px;"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <hr>
                    <ion-grid class="ion-margin-top">
                      <ion-row>
                        <ion-col size="12" class="ion-padding-horizontal">
                          <ion-text color="navyblue">
                            <p class="ion-no-margin"><strong>Formulario opción multiple</strong></p>
                          </ion-text>
                        </ion-col>
                        <ion-col>
                          <ion-list>
                            <ion-radio-group value="pregunta" mode="md">
                              <ion-list-header>
                                <ion-label>
                                  <ion-text color="navyblue">
                                    <p>Pregunta uno</p>
                                  </ion-text>
                                </ion-label>
                              </ion-list-header>

                              <ion-item>
                                <ion-label>
                                  <ion-text color="navyblue">
                                    <p>
                                      Opción uno
                                    </p>
                                  </ion-text>
                                </ion-label>
                                <ion-radio slot="start" value="opcion uno"></ion-radio>
                              </ion-item>

                              <ion-item>
                                <ion-text color="navyblue">
                                  <p>
                                    Opción dos
                                  </p>
                                </ion-text>
                                <ion-radio slot="start" value="opcion dos"></ion-radio>
                              </ion-item>

                              <ion-item>
                                <ion-text color="navyblue">
                                  <p>
                                    Opción tres
                                  </p>
                                </ion-text>
                                <ion-radio slot="start" value="opcion tres"></ion-radio>
                              </ion-item>
                            </ion-radio-group>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>


                <mat-expansion-panel>
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10">
                            <ion-text color=navyblue>
                              <h6>Bodega</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10">
                            <ion-text color=navyblue>
                              <h6>Inventarios</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>contenido</div>
                </mat-expansion-panel>

                <mat-expansion-panel >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10">
                            <ion-text color=navyblue>
                              <h6>Trabajo de anaquel</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10">
                            <ion-text color=navyblue>
                              <h6>Información de marca</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10">
                            <ion-text color=navyblue>
                              <h6>Información de competencia</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>--->

                <div *ngSwitchCase="'unicaRadio'" >
                  <app-unica-radio  [dependePregunta]="p.dependePregunta"
                                    [dependeRespuesta]="p.dependeRespuesta"
                                    [idPregunta]="p.idPregunta"
                                    [maximo]="p.maximo"
                                    [minimo]="p.minimo"
                                    [obligatorio]="p.obligatorio"
                                    [opciones]="p.opciones"
                                    [orden]="p.orden"
                                    [pregunta]="p.pregunta"
                                    [puntaje]="p.puntaje"
                                    [tipo]="p.tipo"
                                    [urlImage]="p.urlImage" >
                </app-unica-radio>
                </div>

                
                <div *ngSwitchCase="'carrusel'" >
                  <app-carrusel  [dependePregunta]="p.dependePregunta"
                                    [dependeRespuesta]="p.dependeRespuesta"
                                    [idPregunta]="p.idPregunta"
                                    [maximo]="p.maximo"
                                    [minimo]="p.minimo"
                                    [obligatorio]="p.obligatorio"
                                    [opciones]="p.opciones"
                                    [orden]="p.orden"
                                    [pregunta]="p.pregunta"
                                    [puntaje]="p.puntaje"
                                    [tipo]="p.tipo"
                                    [urlImage]="p.urlImage" >
                </app-carrusel>
                </div>
                <div *ngSwitchCase="'email'" >
                  <app-email  [dependePregunta]="p.dependePregunta"
                                    [dependeRespuesta]="p.dependeRespuesta"
                                    [idPregunta]="p.idPregunta"
                                    [maximo]="p.maximo"
                                    [minimo]="p.minimo"
                                    [obligatorio]="p.obligatorio"
                                    [opciones]="p.opciones"
                                    [orden]="p.orden"
                                    [pregunta]="p.pregunta"
                                    [puntaje]="p.puntaje"
                                    [tipo]="p.tipo"
                                    [urlImage]="p.urlImage" >
                </app-email>
                </div>
                <div *ngSwitchCase="'numerica'" >
                  <app-numerica [dependePregunta]="p.dependePregunta"
                                [dependeRespuesta]="p.dependeRespuesta"
                                [idPregunta]="p.idPregunta"
                                [maximo]="p.maximo"
                                [minimo]="p.minimo"
                                [obligatorio]="p.obligatorio"
                                [opciones]="p.opciones"
                                [orden]="p.orden"
                                [pregunta]="p.pregunta"
                                [puntaje]="p.puntaje"
                                [tipo]="p.tipo"
                                [urlImage]="p.urlImage" >
                               </app-numerica>
                </div>
                <div *ngSwitchCase="'cargaimagen'" >
                  <app-carga-imagen [dependePregunta]="p.dependePregunta"
                                [dependeRespuesta]="p.dependeRespuesta"
                                [idPregunta]="p.idPregunta"
                                [maximo]="p.maximo"
                                [minimo]="p.minimo"
                                [obligatorio]="p.obligatorio"
                                [opciones]="p.opciones"
                                [orden]="p.orden"
                                [pregunta]="p.pregunta"
                                [puntaje]="p.puntaje"
                                [tipo]="p.tipo"
                                [urlImage]="p.urlImage" >
                </app-carga-imagen>
                </div>
                <div *ngSwitchCase="'fecha'" >
                  <app-fecha [dependePregunta]="p.dependePregunta"
                                [dependeRespuesta]="p.dependeRespuesta"
                                [idPregunta]="p.idPregunta"
                                [maximo]="p.maximo"
                                [minimo]="p.minimo"
                                [obligatorio]="p.obligatorio"
                                [opciones]="p.opciones"
                                [orden]="p.orden"
                                [pregunta]="p.pregunta"
                                [puntaje]="p.puntaje"
                                [tipo]="p.tipo"
                                [urlImage]="p.urlImage" >
                </app-fecha>
                </div>
                <div *ngSwitchCase="'abierta'" >
                  <app-abierta
                                [dependePregunta]="p.dependePregunta"
                                [dependeRespuesta]="p.dependeRespuesta"
                                [idPregunta]="p.idPregunta"
                                [maximo]="p.maximo"
                                [minimo]="p.minimo"
                                [obligatorio]="p.obligatorio"
                                [opciones]="p.opciones"
                                [orden]="p.orden"
                                [pregunta]="p.pregunta"
                                [puntaje]="p.puntaje"
                                [tipo]="p.tipo"
                                [urlImage]="p.urlImage" ></app-abierta>
                </div>

                <mat-expansion-panel *ngSwitchCase="'informartiva'" >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <ion-grid>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="10">
                            <ion-text color=navyblue>
                              <h6>{{p.pregunta}}</h6>
                            </ion-text>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "navyblue" name="information-circle" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                          <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                            <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                </mat-expansion-panel>

                <div *ngSwitchCase="'fotografia'" >
                  <app-fotografia
                                [dependePregunta]="p.dependePregunta"
                                [dependeRespuesta]="p.dependeRespuesta"
                                [idPregunta]="p.idPregunta"
                                [maximo]="p.maximo"
                                [minimo]="p.minimo"
                                [obligatorio]="p.obligatorio"
                                [opciones]="p.opciones"
                                [orden]="p.orden"
                                [pregunta]="p.pregunta"
                                [puntaje]="p.puntaje"
                                [tipo]="p.tipo"
                                [urlImage]="p.urlImage" >
                                 ></app-fotografia>
                </div>



                <!---



                -->

              </mat-accordion>
            </ion-col>
            <ion-col size="12" class="ion-margin">
              <div class="iup-button-row">
                <button mat-stroked-button (click)="sendSondeo()" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend"> ENVIAR</button>
                <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend"> REVIZAR</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button (click)="openDialog()">Btn para test del modal</ion-button>
      </ion-card>
    </div>
  </div>

</ion-content>
<app-footer></app-footer>
