<ion-content>
  <ion-slides pager="true" class="ion-padding">

    <ion-slide class="ion-padding" *ngFor="let slidextend of slidsextend;let i = index"  (click)="login(i)">
      <ion-grid >
  
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/{{slidextend.img}}">
          </ion-col>
          <ion-col size="12">
            <ion-text color="polarwhite">
              <h1>{{slidextend.title}}</h1>
              <h3>
                {{slidextend.subtitle}}
              </h3>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

