<ion-header #header>
  <app-header-two titulo="Perfil"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
      <ion-card>
        <ion-card-content routerLink="/xtend-levels">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-text color="navyblue" class="ion-text-center">
                  <h1><strong>{{nombre}} {{amat}}</strong></h1>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="7">
                <ion-grid class="ion-margin-bottom">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="2" class="ion-align-item-center ion-no-margin ion-no-padding">
                      <ion-text color="greenxtend" class="ion-text-center">
                        <span class="material-icons" color="primary">
                          verified
                          </span>
                      </ion-text>
                    </ion-col>
                    <ion-col size="9" class="ion-align-item-center ion-no-margin ion-no-padding">
                      <ion-text color="navyblue" class="ion-text-center">
                        <h4>Calificación: {{calificacion}}</h4>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-text color="navyblue" class="ion-text-center">
            <!-- El pedo estaba de aqui amig0 quite el nivel y jalo <ion-card> -->
            <h1>Xtender nivel <strong>{{ nivelXtenderStr }}</strong></h1>
          </ion-text>
          <ion-grid>
            <ion-row >
              <ion-col size="12" class="ion-no-padding ion-no-margin ion-overflow-auto border-radius-xl">
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row>
                    <!-- NIVEL BRONCE ------------------------------------------- -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-bronce 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[0]}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-bronce 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[1]}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-bronce 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[2]}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-bronce 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[3]}">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <!-- NIVEL PLATA ------------------------------------------- -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-plata 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[4] }">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-plata 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[5] }">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-plata 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[6] }">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-plata 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[7] }">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </ion-col>
                    <!-- NIVEL ORO ------------------------------------------- -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-Oro 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[8] }">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Oro 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[9] }">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Oro 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[10] }">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Oro 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[11] }">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </ion-col>
                    <!-- NIVEL ELITE -------------------------------------------  -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-Elite 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[12]}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Elite 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[13]}">
                            <div class="col-subnivel ">{{nivelTermo[0]}}</div>
                          </ion-col>
                          <!-- sub-nivel-Elite 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[14]}" >
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Elite 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: nivelTermo[15]}">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Bronce</p>
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Plata</p>
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Oro</p>
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Elite</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <ion-text color="navyblue">
                  <p>Datos completos</p>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-progress-bar color="success" value="{{datosCompletosN}}" class="border-radius-xl height-progress"></ion-progress-bar>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <ion-text color="navyblue">
                  <p>Referidos invitados</p>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-progress-bar color="success" value="{{referidosPorcentajeN}}" class="border-radius-xl height-progress"></ion-progress-bar>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <ion-text color="navyblue">
                  <p>Foto ID</p>
                </ion-text>
              </ion-col>
              <ion-col *ngIf="fotoId==1" class="ion-align-self-center ion-text-center">
                <span class="material-icons color-green">
                  done_outline
                  </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

    <div class="iup-box-center bg-silverblue ion-padding-vertical">
        <ion-card>
          <!-- <ion-card-header>
           <ion-text color="navyblue">
             <h1>
               Tu información
             </h1>
           </ion-text>
          </ion-card-header> -->
          <ion-card-content class="ion-justify-content-center">
            <mat-accordion>
              <mat-expansion-panel [(expanded)]="panelOpenState" >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <ion-text color="navyblue">
                        <h3>
                          Tu información
                        </h3>
                      </ion-text>
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <form  [formGroup]="userForm" class="iup-form" color="primary" >
                  <p>
                    <mat-form-field *ngIf="visiblefield >= 1" appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">Nombre</mat-label>
                      <input formControlName="nombre"  matInput placeholder="Modificar Nombre">
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>

                  <p>
                    <mat-form-field  *ngIf="visiblefield >= 1" appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue"> A. Paterno</mat-label>
                      <input formControlName="apat" matInput placeholder="Modificar A. Paterno">
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field  *ngIf="visiblefield >= 1" appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">A. Materno</mat-label>
                      <input formControlName="amat" matInput placeholder="Modificar A. Materno">
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field  *ngIf="visiblefield >= 1" appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">EMail</mat-label>
                      <input formControlName="email" matInput placeholder="Modificar EMail">
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field  *ngIf="visiblefield >= 1" appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue"> Móvil</mat-label>
                      <input formControlName="movil" matInput placeholder="Modificar Móvil">
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>

                  <p>
                    <mat-form-field  *ngIf="visiblefield >= 1" appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">Fecha de nacimiento</mat-label>
                      <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                  </p>


                <ion-grid class="ion-no-margin">
                     <div  *ngIf="visiblefield >= 2" >

                      <app-foto-id></app-foto-id>
                     </div>

                     <div  *ngIf="visiblefield >= 3" >
                     <app-foto-curp></app-foto-curp>
                    </div>

                  <hr>
                  <ion-row>
                    <ion-col size="12">
                      <ion-text color="navyblue">
                        <h3>Preferencias</h3>
                      </ion-text>
                    </ion-col>
                    <ion-col>
                      <p>
                       <mat-form-field appearance="outline" class="iup-full-width">
                         <mat-label class="mat-label-color-navyblue">Tipo de trabajo de interés</mat-label>
                         <mat-select [(value)]="selectedTrabajoInteres" multiple>
                           <mat-optgroup label="Tipo de trabajo de interés">
                             <mat-option value="promotor">Promotor</mat-option>
                             <mat-option value="mystery">Mystery Shoper</mat-option>
                             <mat-option value="anaqueleo">Anaqueleo</mat-option>
                           </mat-optgroup>
                         </mat-select>
                       </mat-form-field>
                      </p>
                      <ion-text color="navyblue">
                        {{selectedTrabajoInteres}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col size="12">
                      <ion-text color="navyblue">
                        <h3>Domicilio</h3>
                      </ion-text>
                    </ion-col>

                    <ion-col size="12">
                      <p>
                        <mat-form-field appearance="outline" class="iup-full-width">
                          <mat-label class="mat-label-color-navyblue">Calle</mat-label>
                          <input formControlName="dirCalle" matInput placeholder="Modificar Calle">
                        </mat-form-field>
                      </p>
                    </ion-col>
                    <ion-col size="6">
                      <p>
                        <mat-form-field appearance="outline" class="iup-full-width">
                          <mat-label class="mat-label-color-navyblue">No.Ext. </mat-label>
                          <input formControlName="dirNumExt" matInput placeholder="Modificar No.Ext.">
                        </mat-form-field>
                      </p>
                    </ion-col>
                    <ion-col size="6">
                      <p>
                        <mat-form-field appearance="outline" class="iup-full-width">
                          <mat-label class="mat-label-color-navyblue">No.Int. </mat-label>
                          <input formControlName="dirNumInt" matInput placeholder="Modificar No.Int.">
                        </mat-form-field>
                      </p>
                    </ion-col>
                    <ion-col size="12">
                      <p>
                        <mat-form-field appearance="outline" class="iup-full-width">
                          <mat-label class="mat-label-color-navyblue">Colonía</mat-label>
                          <input formControlName="dirColonia" matInput placeholder="Modificar Colonía">
                        </mat-form-field>
                      </p>
                    </ion-col>
                    <ion-col size="12">
                      <p>
                        <mat-form-field appearance="outline" class="iup-full-width">
                          <mat-label class="mat-label-color-navyblue">Alcaldía</mat-label>
                          <input formControlName="dirAlcadia" matInput placeholder="Modificar Alcaldía">
                        </mat-form-field>
                      </p>
                    </ion-col>
                    <ion-col size="6">
                      <p>
                        <mat-form-field appearance="outline" class="iup-full-width">
                          <mat-label class="mat-label-color-navyblue">C.P.</mat-label>
                          <input formControlName="dirCP" matInput placeholder="Modificar C.P.">
                        </mat-form-field>
                      </p>
                    </ion-col>
                    <ion-col size="6">
                      <p>
                        <mat-form-field appearance="outline" class="iup-full-width">
                          <mat-label class="mat-label-color-navyblue">México</mat-label>
                          <input  matInput placeholder="Modificar C.d.">
                        </mat-form-field>
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-grid class="ion-no-padding">
                        <ion-row class="ion-no-margin">
                          <ion-col size="12">
                            <section  *ngIf="visiblefield >= 4">
                             <app-foto-dom></app-foto-dom>

                            </section>
                          </ion-col>
                          <ion-col size="12" class="ion-text-center">
                            <!--<ion-chip [hidden]="!imgDom">
                              <ion-avatar>
                                <img src="../../../assets/img/patines.jpg">
                              </ion-avatar>
                              <ion-label>¡Comprobante listo!</ion-label>
                              <ion-icon name="close-circle"></ion-icon>
                            </ion-chip>-->
                          </ion-col>
                        </ion-row>

                      </ion-grid>

                    </ion-col>

                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col size="12" class="ion-text-center">
                      <ion-text color="navyblue">
                         <h2><strong>Comparte en Redes Sociales</strong></h2>
                      </ion-text>
                    </ion-col>
                    <ion-col size="12" class="ion-text-center">
                      <ion-button fill="clear">
                        <ion-icon size="large" color="primary" name="logo-facebook" class="ion-margin"></ion-icon>
                      </ion-button>
                      <ion-button fill="clear">
                        <ion-icon  size="large" color="primary" name="logo-instagram" class="ion-margin"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-list>
                        <ion-item>
                          <ion-checkbox formControlName="terminos" color="primary"  slot="start" mode="ios"></ion-checkbox>
                          <p> 2. Estoy de acuerdo con los términos de confidencialidad</p>
                        </ion-item>
                      </ion-list>

                    </ion-col>
                  </ion-row>

                </ion-grid>


                <section style="margin-top: 10px;">
                  <div class="iup-button-row">
                    <button mat-stroked-button type="submit" (click)="updateData()" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend"> Guardar</button>
                    <button mat-stroked-button (click) = "closePanel()" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" > Cancelar</button>
                    <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" > Limpiar</button>
                  </div>
                </section>
              </form>


              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                        <h3>
                          Zonas en las que te mueves
                        </h3>
                    </ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="ion-padding-horizontal">
                  <ion-text color="navyblue">
                    <p>Agrega las zonas en las que te mueves, para que Xtend te proponga misiones acorde a los lugares que frecuentas.</p>
                  </ion-text>
                  <p>
                    <app-zones></app-zones>
                  </p>

                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                        <h3>
                          Habilidades Xtend
                        </h3>
                    </ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                  <div *ngIf="isLoaded==0">

                    <ion-grid class="ion-no-padding">
                      <ion-row class="ion-justify-content-center ion-margin ion-padding" *ngFor ="let item of [1,1,1,1,1,1]">
                        <ion-col size="2" class="ion-align-self-center ion-margin-end">
                          <ion-skeleton-text animated style="width: 37px; height: 37px; border-radius:50%;"></ion-skeleton-text>
                        </ion-col>
                        <ion-col size="7" class="ion-align-self-center">
                          <ion-label>
                            <ion-text color="cloudysky">
                              <h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
                              <h3><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></h3>
                              <p><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></p>
                            </ion-text>
                          </ion-label>
                        </ion-col>
                        <ion-col size="1" class="ion-align-self-center ion-margin-end ion-text-center">
                          <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                </div>

                <div>
                  <mat-accordion>
                  <!-- Aqui  va el ngFor -->
                  <mat-expansion-panel class="mat-expansion-inter" *ngFor="let habilidad of habilidades">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <ion-grid class="ion-no-margin">
                          <ion-row>
                            <ion-col size="2" class="ion-align-self-center ion-margin-end">
                              <div class="">
                                <ion-icon size="large" src="../../assets/icon/{{habilidad.iconServicio}}.svg" color="{{habilidad.colorServicio}}"></ion-icon>
                              </div>
                            </ion-col>
                            <ion-col size="9" class="ion-align-self-center">
                              <ion-label>
                                <ion-text color="cloudysky">
                                  <h2 class="ion-no-margin">{{habilidad.servicio}}</h2>
                                  <p>Avance</p>
                                  <ion-progress-bar  color="{{habilidad.colorServicio}}"  value="{{habilidad.avance}}"
                                  class="border-radius-xl height-progress ion-margin-vertical progres-bar-grey">
                                </ion-progress-bar>
                                </ion-text>
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <ion-grid class="ion-margin-horizontal" >
                        <!-- aquí va el ngFor -->
                        <ion-row  class="ion-margin-bottom" *ngFor="let curso of habilidad.cursos" [routerLink]="['/training', curso.idCurso, habilidad.servicio, habilidad.iconServicio, habilidad.colorServicio ]">
                          <ion-col  size="2" class="ion-align-self-center ion-text-center">
                            <ion-icon *ngIf="curso.avance == 2" size="small" color="navyblue" name="play-circle"></ion-icon>
                            <ion-icon *ngIf="curso.avance == 1" size="small" color="greenxtend" name="checkmark-circle"></ion-icon>
                            <ion-icon *ngIf="curso.avance == 0" size="small" color="redxtend" name="close-circle"></ion-icon>
                          </ion-col>
                          <ion-col size="7" class="ion-align-self-center">
                            <ion-label>
                              <ion-text color="cloudysky">
                                <p class="ion-no-margin"><strong>{{curso.nombre}}</strong></p>
                                <p>Tipo: {{curso.tipo}}</p>
                              </ion-text>
                            </ion-label>
                          </ion-col>
                          <ion-col size="3" class="ion-align-self-center ion-text-right">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            <!-- <ion-label>
                              <ion-text color="cloudysky" >
                                <p class="ion-no-margin">Score</p>
                              </ion-text>
                              <ion-text color="{{paso.colortwo}}">
                                <p>{{paso.score}}</p>
                              </ion-text>
                            </ion-label> -->
                          </ion-col>
                        </ion-row>

                      </ion-grid>
                    </div>
                  </mat-expansion-panel>
                  <!-- /Fin del ngFor -->
                </mat-accordion>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                        <h3>
                          Credencial
                        </h3>
                    </ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <mat-accordion>
                    <mat-expansion-panel class="mat-expansion-inter">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <ion-text color="navyblue">
                              <h3>
                                Datos personales
                              </h3>
                          </ion-text>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <form [formGroup]="credForm" class="iup-form"  color="primary">
                        <p>
                          <!--<mat-form-field appearance="outline" class="iup-full-width">
                            <mat-label class="mat-label-color-navyblue">{{puesto}}</mat-label>
                            <input formControlName="puesto"   matInput placeholder="Puesto">
                            <mat-icon matSuffix>edit</mat-icon>
                          </mat-form-field>-->
                        </p>
                        <p>
                          <mat-form-field appearance="outline" class="iup-full-width">
                            <mat-label class="mat-label-color-navyblue">{{imss}}</mat-label>
                            <input  formControlName="imss"  matInput placeholder="NSS">
                            <mat-icon matSuffix>edit</mat-icon>
                          </mat-form-field>
                        </p>
                        <p>
                          <mat-form-field appearance="outline" class="iup-full-width">
                            <mat-label class="mat-label-color-navyblue">{{rfc}}</mat-label>
                            <input formControlName="rfc"  matInput placeholder="RFC">
                            <mat-icon matSuffix>edit</mat-icon>
                          </mat-form-field>
                        </p>

                        <section style="margin-top: 10px;">
                          <div class="iup-button-row">
                            <app-foto-self
                            [checkPhotoComplete]="checkPhotoCompleteParent" ></app-foto-self>
                          </div>
                        </section>
                        <hr>
                              <!-- <mat-tab-group>
                                <mat-tab dynamicHeight>
                                    <ng-template mat-tab-label>
                                      <span class="material-icons">add_a_photo</span>
                                      <span>MI FOTO</span>
                                    </ng-template>
                                    <div class="example-small-box mat-elevation-z4">
                                      Small content
                                    </div>
                                </mat-tab>
                                <mat-tab>
                                  <ng-template mat-tab-label>
                                    <span class="material-icons">gesture</span>
                                    <span> FIRMA</span>
                                  </ng-template>
                                  <div class="example-large-box mat-elevation-z4">
                                  </div>
                              </mat-tab>
                            </mat-tab-group>
                             -->
                             <ion-grid class="ion-padding-vertical">
                               <ion-row>
                                 <ion-col size="12" class="ion-text-center">
                                  <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                                    <mat-icon aria-hidden="false">gesture</mat-icon>
                                    FIRMA
                                  </button>
                                 </ion-col>
                                 <ion-col size="12" class="ion-padding-vertical">

                                    <app-firm
                                    [checkSignChild]="checkSignParent"></app-firm>

                                </ion-col>
                                <ion-col>
                                  <!-- <section style="margin-top: 10px;">
                                    <div class="iup-button-row">
                                      <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                                        LIMPIAR
                                      </button>
                                      <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                                        GUARDAR
                                      </button>
                                    </div>
                                  </section> -->
                                </ion-col>
                               </ion-row>
                             </ion-grid>
                             <!-- <section style="margin-top: 10px;">
                              <div class="iup-button-row">
                                <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                                  <mat-icon aria-hidden="false">gesture</mat-icon>
                                  FIRMA
                                </button>
                                <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                                  LIMPIAR
                                </button>
                                <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                                  GUARDAR
                                </button>
                              </div>
                              <div style="border: solid 1px #9da8b6; border-radius: 20px;">
                                <app-firma></app-firma>
                                </div>
                            </section>                   -->



                        <div class="ion-margin-vertical" >

                          <ion-item>
                            <ion-checkbox color="primary" formControlName="terminos" slot="start"></ion-checkbox><p> Estoy de acuerdo con los términos de confidencialidad</p>
                          </ion-item>

                        </div>
                      </form>
                      <section style="margin-top: 10px;">
                        <div class="iup-button-row">
                          <button (click)="updateCredentials()"  mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend"> Guardar</button>
                          <button mat-stroked-button (click) = "closePanel()" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" > Cancelar</button>
                          <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" id="limpiar" > Limpiar</button>
                        </div>
                      </section>

                    </mat-expansion-panel>

                    <!-- <mat-expansion-panel class="mat-expansion-inter">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <ion-text color="navyblue">
                              <h3>
                                Descarga en galería
                              </h3>
                          </ion-text>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                    </mat-expansion-panel> -->

                    <mat-expansion-panel class="mat-expansion-inter">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <ion-text color="navyblue">
                              <h3>
                                Enviar credencial por mail
                              </h3>
                          </ion-text>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <!-- <preloader skeleton>-->
                        <!-- <div  *ngIf="printCredential" class="box bg-crenetial" style='background-image: url(../../../assets/img/fondoCredencial.png);'>

                          <div class="foto bg-center-xy"><ion-skeleton-text animated style="width: 100%; height:100%;"></ion-skeleton-text></div>

                          <div class="textunoa">
                            <strong><ion-skeleton-text animated style="width: 20%; height:10px; margin-left: auto; margin-right: auto;"></ion-skeleton-text></strong>
                          </div>
                          <div class="textdos"><ion-skeleton-text animated style="width: 50%; height:100%;  margin-left: auto; margin-right: auto;"></ion-skeleton-text></div>
                          <div class="textdos"><ion-skeleton-text animated style="width: 50%; height:100%;  margin-left: auto; margin-right: auto;"></ion-skeleton-text></div>
                          <div class="textdos"><ion-skeleton-text animated style="width: 50%; height:100%;  margin-left: auto; margin-right: auto;"></ion-skeleton-text></div>
                          <div class="firma bg-center-xy"> <ion-skeleton-text animated style="width: 100%; height:90%; text-align: center;"></ion-skeleton-text> </div>
                        </div> -->
                      <!-- <preloader skeleton>-->

                      <div [hidden]="printCredential" style="overflow: auto; width: 100%;">
                        <app-printcredential ></app-printcredential>
                      </div>

                      <ion-grid [hidden]="!printCredential">
                        <ion-row>
                          <ion-col>
                            <ion-text color="navyblue" class="ion-text-center">
                              <h3>
                                Actualiza "Datos Personales", antes de solicitar tu credencial.
                              </h3>
                          </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-grid>


                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                        <h3>
                          Mis datos para cobro
                        </h3>
                    </ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="ion-padding-horizontal">
                  <form  [formGroup]="bancoForm">
                  <ion-text color="navyblue">
                    <p>Configura los datos de la cuenta donde se depositará</p>
                  </ion-text>
                  <mat-form-field appearance="outline" class="iup-full-width">
                    <mat-label>Banco</mat-label>
                    <mat-select formControlName="banco" [disabled]="disableSelect.value">
                      <mat-option value="option1">BBVA</mat-option>
                      <mat-option value="option2">Banamex</mat-option>
                      <mat-option value="option3">Banorte</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <p>
                    <mat-form-field appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">Nombre beneficiario</mat-label>
                      <input formControlName="bancoTitular" matInput placeholder="Modificar Beneficiario">
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">Cuenta CLABE</mat-label>
                      <input  formControlName="bancoClabe" matInput placeholder="Modificar CLABE" numeric>
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">No. de tarjeta de débito</mat-label>
                      <input formControlName="bancoTarjeta" matInput placeholder="Modificar No. de tarjeta" numeric>
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </p>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-list>
                          <ion-item>
                            <ion-checkbox formControlName="terminos"   color="primary"  slot="start" mode="ios"></ion-checkbox>
                            <ion-text color="navybluextend">
                              <p> Leer terminos y condiciones</p>
                            </ion-text>
                          </ion-item>
                        </ion-list>
                        <ion-list>
                          <ion-item>
                            <ion-checkbox  formControlName="terminos2" color="primary"  slot="start" mode="ios"></ion-checkbox>
                            <ion-text color="navybluextend">
                              <p> Estoy de acuerdo con los términos de confidencialidad</p>
                            </ion-text>
                          </ion-item>
                        </ion-list>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <section style="margin-top: 10px;">
                    <div class="iup-button-row">
                      <button mat-stroked-button (click) = "updateBanco()" type="submit" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend"> Guardar</button>
                      <button mat-stroked-button (click) = "closePanel()" class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" > Cancelar</button>
                      <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" > Limpiar</button>
                    </div>
                  </section>
                </form>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <ion-grid class="ion-margin-top">
              <ion-row class="ion-align-content-center">
                <ion-col size="7">
                </ion-col>
                <ion-col size="5" class="ion-align-content-center">
                  <button (click)="closeSession()" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
                    Cerrar sesión
                    <mat-icon aria-hidden="false">logout</mat-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

    </div>


  </div>

</ion-content>
<app-footer></app-footer>
