<ion-header #header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <div>
      <ion-card>
        <ion-card-header class="ion-text-center">

          <ion-card-title class="">
            <ion-text color="navyblue">
              <h1><strong>Arturo Ramírez Juárez</strong></h1>
              <!-- <div style="display: flex;
              align-items: center; text-align: center; align-self: center;">
              <div style=" height: 24px;">
                <span class="material-icons color-green">verified</span>
              </div>
              <div style=" text-align: left;">
                <h5 >
                  Calificación: 4.5
               </h5>
              </div>

              </div> -->
            </ion-text>
              <div>
                <h5>
                  <span class="material-icons color-green icon-position-top-six">verified</span> Calificación: 4.5
                </h5>
              </div>


          </ion-card-title>

        </ion-card-header>
        <ion-card-content>
          <ion-text color="navyblue" class="ion-text-center">
            <h1>Xtender nivel <strong>PLATA</strong></h1>
          </ion-text>
          <ion-grid>
            <ion-row >
              <ion-col size="12" class="ion-no-padding ion-no-margin ion-overflow-auto border-radius-xl">
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row>
                    <!-- NIVEL BRONCE ------------------------------------------- -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-bronce 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-bronce 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-bronce 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-bronce 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <!-- NIVEL PLATA ------------------------------------------- -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-plata 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-plata 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-plata 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-plata 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </ion-col>
                    <!-- NIVEL ORO ------------------------------------------- -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue border-r-navyblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-Oro 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '1'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Oro 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '0'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Oro 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '0'}">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Oro 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" [ngStyle]="{opacity: '0'}">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </ion-col>
                    <!-- NIVEL ELITE -------------------------------------------  -->
                    <ion-col size="3" class="ion-no-padding ion-no-margin bg-silverblue">
                      <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-no-padding ion-no-margin">
                          <!-- sub-nivel-Elite 0%-25% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Elite 25%-50% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Elite 50%-75% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                            <div class="col-subnivel "></div>
                          </ion-col>
                          <!-- sub-nivel-Elite 75%-100% -->
                          <ion-col size="3" class="ion-no-padding ion-no-margin bg-green" style="opacity:0;">
                            <div class="col-subnivel"></div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Bronce</p>
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Plata</p>
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Oro</p>
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="navyblue" class="ion-text-center">
                  <p>Elite</p>
                </ion-text>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <ion-text color="navyblue">
                  <p>Datos completos</p>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-progress-bar color="success" value="0.5" class="border-radius-xl height-progress"></ion-progress-bar>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <ion-text color="navyblue">
                  <p>Referidos invitados</p>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-progress-bar color="success" value="0.7" class="border-radius-xl height-progress"></ion-progress-bar>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <ion-text color="navyblue">
                  <p>Foto ID</p>
                </ion-text>
              </ion-col>
              <ion-col class="ion-align-self-center ion-text-center">
                <span class="material-icons color-green">
                  done_outline
                  </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="iup-box-center bg-silverblue ion-padding-vertical">
      <div>
        <ion-card>
          <!-- <ion-card-header>
           <ion-text color="navyblue">
             <h1>
               Tu información
             </h1>
           </ion-text>
          </ion-card-header> -->
          <ion-card-content class="ion-justify-content-center">
            <mat-accordion>
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                      <ion-text color="navyblue">
                        <h1>
                          Tu información
                        </h1>
                      </ion-text>
                    </ion-text>
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <form class="iup-form" color="primary">
                  <p>
                    <mat-form-field appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">Nicolas</mat-label>
                      <input matInput placeholder="Nombre">
                      <mat-icon matSuffix>edit</mat-icon>

                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="outline" class="iup-full-width">
                      <mat-label class="mat-label-color-navyblue">Tesla</mat-label>
                      <input matInput placeholder="Apellido">
                      <mat-icon matSuffix>edit</mat-icon>

                    </mat-form-field>
                  </p>

                  <mat-form-field class="iup-full-width" appearance="fill">
                    <mat-label>Nombre:</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Nicolas">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="iup-full-width" appearance="fill">
                    <mat-label>A. Paterno</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Tesla">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="iup-full-width" appearance="fill">
                    <mat-label>A. Materno</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Tesla">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="iup-full-width" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="tesla@gmail.com">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="iup-full-width" appearance="fill">
                    <mat-label>Móvil</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="5540197392">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>


                  <div style="white-space: nowrap; overflow: auto; height: 34px;">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1"><p>Estoy de acuerdo con los términos de confidencialidad</p></mat-radio-button>
                    </mat-radio-group>
                  </div>
                </form>
                <section style="margin-top: 10px;">
                  <div class="iup-button-row">
                    <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked"> Guardar</button>
                    <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked" > Cancelar</button>
                    <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked" > Limpiar</button>
                  </div>
                </section>
              </mat-expansion-panel>
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                      <ion-text color="navyblue">
                        <h1>
                          Zonas de interés
                        </h1>
                      </ion-text>
                    </ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>

                </div>
              </mat-expansion-panel>

              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                      <ion-text color="navyblue">
                        <h1>
                          Capacitación
                        </h1>
                      </ion-text>
                    </ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <ion-text color="navyblue">
                      <ion-text color="navyblue">
                        <h1>
                          Credencial y Carta de Acceso
                        </h1>
                      </ion-text>
                    </ion-text>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>



          </ion-card-content>
        </ion-card>
      </div>
    </div>


  </div>

</ion-content>
<app-footer>

</app-footer>
