<ion-header #header>
  <app-header-two titulo="Misiones Activas"></app-header-two>
</ion-header>

<ion-content>
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <ion-grid class="bg-polarwhite ion-padding-bottom">
      <ion-row class="ion-padding-horizontal">
        <!-- <ion-col size="12" class="ion-text-start ion-align-self-center">
          <ion-text color="navyblue">
            <h5 class="ion-no-margin">Misiones Activas</h5>
          </ion-text>
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" class="ion-align-self-center ion-margin-end">
              <div style="width: 50px;" class="ion-margin-end">
                <img src="../../assets/img/shell.svg">
              </div>
            </ion-col>
            <ion-col size="7" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>Shell</strong></h2>
                  <h3>Promotoría Shell</h3>
                  <p>Tiempo de visita. 30 min.</p>
                  <p>Pago<strong> $250</strong></p>
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <button mat-icon-button>
                <mat-icon class="color-cloudysky">navigate_next</mat-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" class="ion-align-self-center ion-margin-end">
              <div style="width: 50px;" class="ion-margin-end">
                <img src="../../assets/img/minisu.png">
              </div>
            </ion-col>
            <ion-col size="7" class="ion-align-self-center">
              <ion-label>
                <ion-text color="cloudysky">
                  <h2><strong>Minisu</strong></h2>
                  <h3>Promotoría Minisu</h3>
                  <p>Tiempo de visita. 30 min.</p>
                  <p>Pago<strong> $250</strong></p>
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center ion-margin-end">
              <button mat-icon-button>
                <mat-icon class="color-cloudysky">navigate_next</mat-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<app-footer></app-footer>
