<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <ion-text color=navyblue>
                <h2>{{sondeo}}</h2>
              </ion-text>
            </ion-col>
            <!--<ion-col *ngIf="isValid==0" size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
              <ion-icon color= "silverblue" name="shield-outline" style="font-size: 20px;"></ion-icon>
            </ion-col>
            <ion-col *ngIf="isValid==1"  size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
              <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
            </ion-col>-->
          </ion-row>
        </ion-grid>
      </mat-panel-title>
    </mat-expansion-panel-header>


    <div *ngFor="let p of respuestas; let i = index" [ngSwitch]="p.tipo" >
     <!---Aqui esta la lista de los tipos pero basate en la que no esta comentada -->
      <div *ngSwitchCase="'unicaRadio'" >
        <app-unica-radio-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        ></app-unica-radio-inf>
      </div>

      <div *ngSwitchCase="'abierta'" >
        <app-abierta-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        ></app-abierta-inf>
      </div>

      <div *ngSwitchCase="'multiple'" >
        <app-multiple-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        ></app-multiple-inf>
      </div>

      <div *ngSwitchCase="'fecha'" >
        <app-fecha-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        ></app-fecha-inf>
      </div>

      <div *ngSwitchCase="'email'" >
        <app-email-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        >
      </app-email-inf>
      </div>

      <div *ngSwitchCase="'numerica'" >
        <app-numerica-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        >
        </app-numerica-inf>
      </div>

      <div *ngSwitchCase="'carrusel'" >
        <app-carrusel-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        >
      </app-carrusel-inf>
      </div>

      <div *ngSwitchCase="'cargaimagen'" >
        <app-carga-imagen-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        >
      </app-carga-imagen-inf>
      </div>

      <div *ngSwitchCase="'fotografia'" >
        <app-fotografia-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
        >
      </app-fotografia-inf>
      </div>

      <div *ngSwitchCase="'gps'" >
        <app-gps-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [respuesta] = "p.respuesta"
        [tipo] ="p.tipo"
                    >
                  </app-gps-inf>
      </div>

      <div *ngSwitchCase="'sku'" >
        <app-sku-inf
        [idPregunta]="p.idPregunta"
        [pregunta] ="p.pregunta"
        [productos]="p.productos"
        [tipo] ="p.tipo"
      >
        </app-sku-inf>
      </div>


      <!--<mat-expansion-panel *ngSwitchCase="'informartiva'" >
        <mat-expansion-panel-header >
          <mat-panel-title>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="10">
                  <ion-text color=navyblue>
                    <h6>{{p.pregunta}}</h6>
                  </ion-text>
                </ion-col>
                <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                  <ion-icon color= "silverblue" name="shield-outline" style="font-size: 20px;"></ion-icon>
                </ion-col>
                <ion-col size="1" class="ion-align-self-center ion-text-center iup-margin-top-sm">
                  <ion-icon color= "greenxtend" name="shield-checkmark" style="font-size: 20px;"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>

      </mat-expansion-panel>


     >-->






    </div>






  </mat-expansion-panel>
</mat-accordion>

