<ion-header #header>
  <app-header-two titulo="Capacitación"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <ion-card>
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-text class="ion-text-center">
               <h2>
                 Titulo de todo el aka
               </h2>
            </ion-text>
          </ion-col>
          <ion-col size=12>
              <ion-slides pager="true">
                <ion-slide>
                  <ion-grid size=12>
                    <ion-text class="ion-text-left">
                      <h6>
                        Tema 1
                      </h6>
                    </ion-text>
                    <!-- <ion-textarea [(ngModel)]="videoUrl" placeholder="Enter video url">
                    </ion-textarea> -->
                    <!-- <ion-button (click)="streamVideo()" expand="full">stream video</ion-button> -->
                    <div style="width: 100%; height: 400px; border: solid 1px blue;">
                      <video controls="true" src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" width="100%"></video>

                    </div>
                  </ion-grid>
                </ion-slide>
                <ion-slide>
                  <ion-grid size=12>
                    <ion-text class="ion-text-left">
                      <h6>
                        Tema 2
                      </h6>
                    </ion-text>
                    <div style="width: 100%; height: 400px; border: solid 1px red;">
                      <iframe src="https://file-examples-com.github.io/uploads/2017/10/file-sample_150kB.pdf" width="100%" height="100%"></iframe>
                    </div>
                  </ion-grid>

                </ion-slide>
                <ion-slide>
                  <ion-grid size=12>
                    <ion-text class="ion-text-left">
                      <h6>
                        Tema 3
                      </h6>
                    </ion-text>
                    <div style="width: 100%; height: 400px; border: solid 1px purple;">
                    </div>
                  </ion-grid>
                </ion-slide>
              </ion-slides>
          </ion-col>
        </ion-row>

      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-text class="ion-text-center">
            <h2>
              Examen
            </h2>
          </ion-text>
          </ion-col>
          <ion-col size=12>
            <div>
              <mat-panel-title>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10">
                      <ion-text color=navyblue>
                        <h6>1. Pregunta numero uno</h6>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-panel-title>
            <form >
              <div class="ion-padding-horizontal">
                <ion-item >
                  <ion-input type="text" formControlName="abierta" placeholder="Escribe aquì tu respuesta" ></ion-input>
                </ion-item>
              </div>
           </form>
        </div>
          </ion-col>
          <ion-col size=12>
            <div>
              <mat-panel-title>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10">
                      <ion-text color=navyblue>
                        <h6>2. Pregunta numero dos</h6>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-panel-title>
            <form>
              <div class="ion-padding-horizontal">
                <ion-item >
                  <ion-input type="text" formControlName="abierta" placeholder="Escribe aquì tu respuesta" ></ion-input>
                </ion-item>
              </div>
           </form>
        </div>
          </ion-col>
          <ion-col size=12>
            <div>
              <mat-panel-title>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10">
                      <ion-text color=navyblue>
                        <h6>3. Pregunta numero tres</h6>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-panel-title>
            <form>
              <div class="ion-padding-horizontal">
                <ion-item >
                  <ion-input type="text" formControlName="abierta" placeholder="Escribe aquì tu respuesta" ></ion-input>
                </ion-item>
              </div>
           </form>
        </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>

  </div>



</ion-content>
<app-footer></app-footer>
