<ion-header #header>
  <app-header-two titulo="Capacitación"></app-header-two>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
    <ion-card>
      <ion-card-header>

          <ion-text color="navybluextend" class="ion-text-center">
             <h4>
               Habilidad Promotoría Básica
             </h4>
          </ion-text>


          <ion-text color="navybluextend" class="ion-text-left">
            <p>
              Bienvenido, en este espacio encontrarás los los contenidos para adquirír las habilidades básicas de promotoría, podrás realizar tu examen al terminar de revizar nuestro material.
            </p>
          </ion-text>

      </ion-card-header>
      <ion-card-content>
        <ion-slides pager="true">
        </ion-slides>
      <swiper
          style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
          [loop]="true"
          [spaceBetween]="10"
          [navigation]="true"
          [thumbs]="{ swiper: thumbsSwiper }"
          class="mySwiper2"
      >
          <ng-template swiperSlide>
            <video controls="true" src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" poster="../../../assets/img/capacitacion1.jpg" width="100%" height="450px" style="background-color: black;"></video>
          </ng-template>
          <ng-template swiperSlide>
            <video controls="true" src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" poster="../../../assets/img/capacitacion2.jpg" width="100%" height="450px" style="background-color: black;"></video>
          </ng-template>
          <ng-template swiperSlide>
            <video controls="true" src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" poster="../../../assets/img/capacitacion3.jpg" width="100%" height="450px" style="background-color: black;"></video>
          </ng-template>
          <ng-template swiperSlide>
            <video controls="true" src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" poster="../../../assets/img/capacitacion4.jpg" width="100%" height="450px" style="background-color: black;"></video>
          </ng-template>
      </swiper>
      <swiper
        (swiper)="thumbsSwiper = $event"
        [loop]="true"
        [spaceBetween]="10"
        [slidesPerView]="4"
        [freeMode]="true"
        [watchSlidesProgress]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide>
          <img src="../../../assets/img/capacitacion1.jpg"/>
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/capacitacion2.jpg"/>
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/capacitacion3.jpg"/>
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/capacitacion4.jpg"/>
        </ng-template>
      </swiper>

      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-text color="navybluextend" class="ion-text-center">
            <h1>
              Examen
            </h1>
          </ion-text>
          </ion-col>
          <ion-col size=12>
            <div>
              <mat-panel-title>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10">
                      <ion-text color=navyblue>
                        <h6>1. Pregunta numero uno</h6>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-panel-title>
            <form >
              <div class="ion-padding-horizontal">
                <ion-item >
                  <ion-input type="text" formControlName="abierta" placeholder="Escribe aquì tu respuesta" ></ion-input>
                </ion-item>
              </div>
           </form>
        </div>
          </ion-col>
          <ion-col size=12>
            <div>
              <mat-panel-title>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10">
                      <ion-text color=navyblue>
                        <h6>2. Pregunta numero dos</h6>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-panel-title>
            <form>
              <div class="ion-padding-horizontal">
                <ion-item >
                  <ion-input type="text" formControlName="abierta" placeholder="Escribe aquì tu respuesta" ></ion-input>
                </ion-item>
              </div>
           </form>
        </div>
          </ion-col>
          <ion-col size=12>
            <div>
              <mat-panel-title>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10">
                      <ion-text color=navyblue>
                        <h6>3. Pregunta numero tres</h6>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </mat-panel-title>
            <form>
              <div class="ion-padding-horizontal">
                <ion-item >
                  <ion-input type="text" formControlName="abierta" placeholder="Escribe aquì tu respuesta" ></ion-input>
                </ion-item>
              </div>
           </form>
        </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-align-self-center  ion-text-center">
            <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
               Salir
            </button>
          </ion-col>
          <ion-col size="6" class="ion-align-self-center  ion-text-center">
            <button  mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
              Evaluación
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>

  </div>



</ion-content>
<app-footer></app-footer>
