/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.list-md{
  padding-top: 0px !important;
    padding-bottom: 0px !important
}

hr{
  border-bottom: solid 1px #9da8b6;
}


// tabs tuning
.mat-tab-label{
  border-radius: 6px;
  color: #020c3a !important;
  border-bottom: solid 3px #1e9ad5 !important;
  border-top:solid 1px #020c3a !important;
  border-left:solid 1px #020c3a !important;
  border-right:solid 1px #020c3a !important;
  margin-right: 12px;
}

.mat-tab-label{
  padding: 0px 12px !important;
}

// <Styles the modal mission>
.mat-dialog-container{
  margin: 0px !important;
  padding: 0px !important;
}

.mat-dialog-content{
  margin: 0px !important;
  padding: 0px !important;
  max-height: 100% !important;
}
.cdk-overlay-pane{
  width: 90% !important;
  max-width: 500px !important;
  max-height: 90vh !important;

}

.cdk-overlay-dark-backdrop {
  background: #020c3a82 !important;
}
// </Styles the modal mission>
// <Styles pop filtros>
.popOver{

  .popover-arrow.sc-ion-popover-ios::after{
    --background:#020c3a !important;
  }

  .popover-content .sc-ion-popover-ios{
    background: #020c3a !important;
    width: 100% !important;
  }
  .popover-content.sc-ion-popover-ios {
    width: 90%;
    min-width: 280px;
    max-width: 480px;
}
}

.title-popover{
  position: relative;
  width: 100%;
  height: 100px;
  height: auto;
  background-color: #020c3a;
}
// </Styles pop filtros>

.mat-expansion-inter{
  margin: 0px 10px 12px 10px !important;
  border-radius: 0.5em !important;
}

.mat-label-color-navyblue{
  color: #020c3a !important;
}

.mat-button-wrapper{
  color: #020c3a;
}
.iup-border-left{
  border-left: #603fa5 solid 0.3em !important;
}

.iup-icon-size-xl{
  font-size: 3.5em;
}

.iup-txt-hide{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


.box-servicios {
  position: relative;
  width: 68px;
  height: 68px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  background-color: white;
}


.iup-no-padding{
  padding: 0px !important;
}

.iup-margin-sm{
  margin: 4px !important;
}
.iup-margin-vertical-md{
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.iup-margin-xs{
  margin: 2px !important;
}

.iup-txt-xxl{
  font-size: 3em;
}

.iup-box-center{
  max-width: 1280px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.box-img{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-full{
  width: 100%;
  height: auto;
}

.img-icon{
  max-width: 50px;
}

.border-rodondos{
  border-radius: 8px;
}

/* <CSS style | carousel iupick> */
.ipck-container-carousel{
  position: relative;
  width: 100%;
  height: auto;
}
.ipck-row-carousel{
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
.ipck-row-carousel::scrollbar {display: none;}
.ipck-row-carousel::-webkit-scrollbar {display: none;}
.ipck-col-carousel{
  display: flex;
}
.ipck-item-carousel {
  height: auto;
  font-size: 30px;
}
.ion-width-sm{
  width: 300px !important;
}
.ion-width-md{
  width: 450px !important;
}
.ion-width-lg{
  width: 650px !important;
}
// Login desing
.iup-box-center-xy{
position: relative;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.iup-box-center-xy >div{
  width: 100%;
  height: 100%;
  max-width: 680px;
  max-height: 1360px;
  overflow: auto;
}

/* <Diseño 50% navy blue 50% whiyte > */
.row-vertical-cincuenta{
  width:100%;
  height: 50%;
}

.size-logo-login{
  width: 68%;
  max-width:300px;
}

/* </CSS style | shodow > */
.shadow{
  box-shadow: 0px 0.175em 0.5em rgb(2 8 20 / 10%), 0px 0.085em 0.175em rgb(2 8 20 / 8%);
}
.border-radius{
  border-radius: 10px !important;
}

// Angula Material Card
.example-card {
  max-width: 400px;
}

.mat-expansion-panel-header {
  height: auto !important;
  margin: 8px 0px;
}

// Btns Google Material
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

p{
  font-size: 12px !important;
}

// Styls for menu animation HideHover
ion-content {
  --offset-top: 100px;
  position: absolute;
}

.padding-top-menu-dtc{
  padding-top: 86px !important;
}


.padding-bottom-dtc{
  padding-bottom: 50px !important;
}

.no-border{
  border-width: 0px !important;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0;
}

.mat-expansion-panel-body {
  padding: 16px 0 16px 0 !important;
}

// Colores para txt o icons Angular

.color-cloudysky{
  color: #3c4654 !important;
}
.color-navyblue{
  color: #020c3a !important;
}


// Stilos especiales de elementos extend

.iup-border-buttom-blue{
  border-bottom: #1e9ad5 solid 3px !important;
}

.mat-btn-xtend-navyblue-stroked{
  color: #020c3a !important;
  border-color:#020c3a #020c3a #020c3a !important;
  border-bottom: solid 3px #1e9ad5!important;
}

.xte-line-bottom-blue{
  border-bottom: solid 3px #1e9ad5!important;
}

.ion-overflow-auto{
  overflow:auto;
}

.iup-car{
  position: relative;
  width: 96%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 2%;
}

.box-certificado{
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

.box-certificado>div{
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

// .bg-certificado-one{
//   background-color: yellow;
// }
// .bg-certificado-two{
//   background-color: rgb(32, 0, 92);
// }
// .bg-certificado-tree{
//   background-color: pink;
// }

// Xtender nivel styles
.border-radius-xl{
  border-radius: 25px;
}

.col-subnivel{
  width: 100%;
  height: 20px;
  margin: 6px 0px;
}


.border-r-navyblue{
  border-right: solid 2px #020c3a;
}

.color-green{
  color: #7fb73f !important;
}
.height-progress{
  height: 10px;
}

.icon-position-top-six{
  transform: translate(0px,6px);
}

.iup-form {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.iup-full-width {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0, 0, 0, 0.0);
  color: #020c3a;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}


section{
  position: relative;
  margin: auto;
}

.iup-button-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.iup-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-form-field-label {
  color:var(--ion-color-silverblue) !important;
}




// //Palette color Xtend
// $indigo-palette: (
//  50: #e8eaf6,
//  100: #c5cae9,
//  200: #9fa8da,
//  300: #7986cb,
//  // ... continues to 900
//  contrast: (
//    50: rgba(black, 0.87),
//    100: rgba(black, 0.87),
//    200: rgba(black, 0.87),
//    300: white,
//    // ... continues to 900
//  )
// );




