/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* <CSS style | carousel iupick> */
.ipck-container-carousel{
  position: relative;
  width: 100%;
  height: auto;
}
.ipck-row-carousel{
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
.ipck-row-carousel::scrollbar {display: none;}
.ipck-row-carousel::-webkit-scrollbar {display: none;}
.ipck-col-carousel{
  display: flex;
}
.ipck-item-carousel {
  height: auto;
  font-size: 30px;
}

/* </CSS style | carousel iupick> */

/* <Diseño 50% navy blue 50% whiyte > */
.row-vertical-cincuenta{
  width:100%;
  height: 50%;
}

.size-logo-login{
  width: 68%;
  max-width:300px;
}
