/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.iup-box-center{
  max-width: 1280px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

/* <CSS style | carousel iupick> */
.ipck-container-carousel{
  position: relative;
  width: 100%;
  height: auto;
}
.ipck-row-carousel{
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
.ipck-row-carousel::scrollbar {display: none;}
.ipck-row-carousel::-webkit-scrollbar {display: none;}
.ipck-col-carousel{
  display: flex;
}
.ipck-item-carousel {
  height: auto;
  font-size: 30px;
}
.ion-width-sm{
  width: 300px !important;
}
.ion-width-md{
  width: 450px !important;
}
.ion-width-lg{
  width: 650px !important;
}

/* <Diseño 50% navy blue 50% whiyte > */
.row-vertical-cincuenta{
  width:100%;
  height: 50%;
}

.size-logo-login{
  width: 68%;
  max-width:300px;
}

/* </CSS style | shodow > */
.shadow{
  box-shadow: 0px 0.175em 0.5em rgb(2 8 20 / 10%), 0px 0.085em 0.175em rgb(2 8 20 / 8%);
}
.border-radius{
  border-radius: 10px !important;
}

// Angula Material Card
.example-card {
  max-width: 400px;
}

// Btns Google Material
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

p{
  font-size: 12px !important;
}

// Styls for menu animation HideHover
ion-content {
  --offset-top: 200px;
  position: absolute;
}

.padding-top-menu-dtc{
  padding-top: 140px !important;
}


.padding-bottom-dtc{
  padding-bottom: 50px !important;
}

.no-border{
  border-width: 0px !important;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0;
}

.mat-expansion-panel-body {
  padding: 16px 0 16px 0 !important;
}

// Colores para txt o icons Angular

.color-cloudysky{
  color: #3c4654 !important;
}
.color-navyblue{
  color: #020c3a !important;
}


// Stilos especiales de elementos extend

.iup-border-buttom-blue{
  border-bottom: #1e9ad5 solid 3px !important;
}

.mat-btn-xtend-navyblue-stroked{
  color: #020c3a !important;
  border-color:#020c3a #020c3a #020c3a !important;
  border-bottom: solid 3px #1e9ad5!important;

}



// //Palette color Xtend
// $indigo-palette: (
//  50: #e8eaf6,
//  100: #c5cae9,
//  200: #9fa8da,
//  300: #7986cb,
//  // ... continues to 900
//  contrast: (
//    50: rgba(black, 0.87),
//    100: rgba(black, 0.87),
//    200: rgba(black, 0.87),
//    300: white,
//    // ... continues to 900
//  )
// );




