<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ipck-row-carousel">
    <div class="ipck-col-carousel">
      <!-- <ITEM - para repetir el ng-repeat> -->
      <div class="ipck-item-carousel">
        <ion-card class="ion-margin-end" style="width:270px" >
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h3>Próxima misión.</h3>
              <h4>Anaqueleo</h4>
              <p>Visita 3 semanales</p>
              <ion-grid>
                <ion-row>
                  <ion-col size="auto"><ion-badge color="light">1</ion-badge></ion-col>
                  <ion-col size="auto" ><p>$300 por misión</p></ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
      <!-- </Fin ITEM - para repetir> -->
    </div>
  </div>
