<ion-header #header>
  <app-header></app-header>
</ion-header>

<!-- Section Mision activas ______________________________________________-->
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">

  <div class="iup-box-center padding-top-menu-dtc padding-bottom-dtc bg-polarwhite">
     <ion-grid class="bg-polarwhite ion-padding-bottom">
       <ion-row class="ion-padding-horizontal">
         <ion-col size="6" class="ion-text-start ion-align-self-center">
           <ion-text color="navyblue">
             <h4 class="ion-no-margin">Misiones activas</h4>
           </ion-text>

         </ion-col>
         <ion-col size="6" class="ion-text-end ion-align-self-center">
           <ion-chip class="ion-color ion-color-navyblue chip-outline ">
             <ion-label>Ver todas</ion-label>
             <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon>
           </ion-chip>
         </ion-col>
       </ion-row>

       <ion-row class="aka">
         <ion-col size="12">
         <div class="ipck-row-carousel">
           <div class="ipck-col-carousel ion-padding-vertical">
             <!-- <ITEM - para repetir el ng-repeat> -->
             <div class="ipck-item-carousel ion-margin-horizontal" *ngFor="let mision of misiones">
               <ion-card class="ion-no-margin ion-width-sm border-radius">
                 <ion-item>
                   <div style="width: 50px;" class="ion-margin-end">
                     <img src="../../assets/img/{{ mision.logoimg}}">
                   </div>
                   <ion-label color="cloudysky" class="ion-text-wrap">
                     <hr>
                       <h2><strong>{{ mision.marca }}</strong></h2>
                       <h2>{{mision.tipo}}</h2>
                       <p>{{mision.txt}}</p>
                         <ion-grid>
                           <p><strong>{{mision.novisitas}}</strong></p>
                           <ion-row>
                             <!-- <ion-col size="auto"><ion-badge color="cloudysky">1</ion-badge></ion-col> -->
                             <ion-col size="auto" ><p><strong>$</strong> {{mision.preciopago}}</p></ion-col>
                           </ion-row>
                     </ion-grid>
                   </ion-label>
                 </ion-item>
                 <ion-fab  vertical="bottom" horizontal="end" >
                  <!-- <ion-fab-button color="whitex">
                    <ion-icon name="chevron-forward-outline" color="navyblue" ></ion-icon>
                  </ion-fab-button> -->
                  <button mat-icon-button>
                    <mat-icon class="color-cloudysky">navigate_next</mat-icon>
                  </button>
                </ion-fab>
               </ion-card>
             </div>
             <!-- </Fin ITEM - para repetir> -->
           </div>
         </div>
       </ion-col>
       </ion-row>
     </ion-grid>

  <!-- Carrousel de Promosiones _________________________________ -->
  <ion-grid class="bg-lightgrey ion-padding-vertical">
    <ion-row>
      <ion-col>
      <div class="ipck-row-carousel">
        <div class="ipck-col-carousel ion-align-items-center">
          <!-- <ITEM - para repetir el ng-repeat> -->
          <div class="ipck-item-carousel ion-margin-horizontal" *ngFor='let promocion of promociones'>
            <ion-card class="ion-no-margin ion-padding bg-nightblue ion-width-md shadow border-radius">
                <ion-row class="ion-align-items-center">
                  <ion-col  size="4" class="ion-text-center">
                    <div class="ion-margin-end-sm">
                      <img src="../../assets/img/{{ promocion.img }}" style="width: 100%; height: auto;">
                    </div>
                  </ion-col>
                  <ion-col size="8" class="ion-align-items-center">
                    <div>
                      <ion-card-content class="ion-no-padding">
                        <ion-text color="polarwhite">
                          <h2 class="ion-text-uppercase"><strong>{{ promocion.titulo }}</strong></h2>
                          <p>{{ promocion.texto}}</p>
                        </ion-text>
                      </ion-card-content>
                    </div>
                  </ion-col>
                </ion-row>
            </ion-card>
          </div>
          <!-- </Fin ITEM - para repetir> -->
        </div>
      </div>
    </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Misiones disponibles _________________________________ -->
  <ion-grid class="bg-polarwhite ion-padding-bottom">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="7" class="ion-text-start ion-align-self-center">
        <ion-text color="navyblue">
          <h4 class="ion-no-margin">Misiones disponibles</h4>
        </ion-text>
      </ion-col>

      <ion-col size="5" class="ion-text-end ion-align-self-center">
        <ion-chip class="ion-color ion-color-navyblue chip-outline">
          <ion-label>Ver todas</ion-label>
          <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <!-- <ITEM - para repetir el ng-repeat> -->
        <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" *ngFor="let misdisponible of misdisponibles">
          <ion-grid  class="ion-no-padding border-radius">
            <ion-row>
              <ion-col>
                <mat-accordion style="padding: 0px;">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false"
                                       class="bg-whitex border-radius ion-no-padding">
                    <mat-expansion-panel-header class="bg-whitex border-radius" style="height: 80px; width: auto;">
                      <mat-panel-description>

                        <ion-grid>
                          <ion-row>
                            <ion-col size="3" class="ion-align-self-center ion-margin-end">
                              <img src="../../assets/img/{{ misdisponible.logoimg}}" style="width: 50px; height: auto;">
                            </ion-col>
                            <ion-col size="8" class="ion-align-self-center">
                              <ion-label>
                                <ion-text color="cloudysky">
                                  <h2>{{ misdisponible.tipo}}</h2>
                                  <h3>{{ misdisponible.novisitas}}</h3>
                                  <p><strong>{{ misdisponible.preciopago}}</strong></p>
                                </ion-text>
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                      </mat-panel-description>
                    </mat-expansion-panel-header>
                         <div style="box-shadow: none; padding:0px;">
                              <ion-grid class="ion-no-padding">
                                <ion-row class="bg-navyblue">
                                  <ion-col size="8" class="ion-padding">
                                   <div class="ion-text-start" style="color:white;">
                                     <ion-label>
                                       <ion-text>
                                         <h2><strong>{{ misdisponible.tipo}}</strong></h2>
                                         <h4><ion-icon name="medal-outline"></ion-icon> Para Nivel {{ misdisponible.nivel}}</h4>
                                       </ion-text>
                                     </ion-label>
                                   </div>
                                  </ion-col>
                                  <ion-col size="4" class="ion-padding">
                                   <div class="ion-text-end" style="color: white;">
                                     <ion-label>
                                       <ion-text>
                                         <p>pago</p>
                                         <h2><strong>$300</strong></h2>
                                       </ion-text>
                                     </ion-label>
                                   </div>
                                 </ion-col>
                                </ion-row>
                              </ion-grid>
                                 <div>
                                   <ion-card class="ion-padding ion-margin-top">
                                       <ion-label >
                                         <ion-text>
                                           <p>
                                           <strong>Canal</strong> {{ misdisponible.canal}}<br>
                                           <strong>Cadena:</strong> {{ misdisponible.cadena}}<br>
                                           <strong>Tiempo visita promedio:</strong> {{ misdisponible.tiempopromedio}}
                                         </p>
                                         </ion-text>
                                       </ion-label>
                                   </ion-card>
                                 </div>
                                 <div>
                                   <ion-card class="ion-padding ion-margin-top">
                                       <ion-label >
                                         <ion-text>
                                           <p><strong>Canal:</strong></p>
                                           <p>Jalapa, Veracruz</p>
                                           <p>Morelia, Michoacán</p>
                                           <p>Celaya, Guanajuato</p>
                                         </ion-text>
                                       </ion-label>
                                   </ion-card>
                                 </div>

                                   <div>
                                     <mat-grid-list cols="2" rowHeight="4:1">
                                       <mat-grid-tile>
                                         <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked">
                                           <mat-icon>share</mat-icon> Compartir
                                         </button>
                                       </mat-grid-tile>
                                       <mat-grid-tile>
                                         <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked" >
                                           Ver detalles <mat-icon >chevron_right</mat-icon>
                                         </button>
                                       </mat-grid-tile>
                                     </mat-grid-list>
                                   </div>
                                   <!-- <p class="ion-text-center">

                                     <ion-chip outline color="navyblue" class="iup-border-buttom-blue">
                                       <ion-icon name="share-social-outline"></ion-icon>
                                       <ion-label>Compartir</ion-label>
                                     </ion-chip>

                                     <ion-chip outline color="navyblue" class="iup-border-buttom-blue">

                                       <ion-label>Ver detalles</ion-label>
                                       <ion-icon name="chevron-forward-outline"></ion-icon>
                                     </ion-chip>
                                   </p> -->
                         </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <!-- </Fin ITEM - para repetir el ng-repeat> -->

      </ion-row>
    </ion-grid>
  </ion-grid>
  <!-- Seccion buscar por Zona Google map_________________________________________________________ -->
  <ion-grid>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6" class="ion-text-start ion-align-self-center">
        <ion-text color="navyblue">
          <h4 class="ion-no-margin">Buscar por zona</h4>
        </ion-text>

      </ion-col>
      <ion-col size="6" class="ion-text-end ion-align-self-center">
        <ion-chip class="ion-color ion-color-navyblue chip-outline ">
          <ion-label>Ver todas</ion-label>
          <ion-icon name="chevron-forward-outline" color="navyblue"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.755724009331!2d-99.10873338401346!3d19.379726986914502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff0216788e79%3A0xd976142e110eedf9!2sZech%20inK%20Tattoo%20Studio!5e0!3m2!1ses-419!2smx!4v1636659065201!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar style="height: 50px;">

      <ion-tabs>
        <ion-tab-bar slot="bottom" class="no-border">
          <ion-tab-button tab="schedule">
            <ion-icon name="flag-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="speakers">
            <ion-icon name="wallet-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="map" class="">
            <ion-icon name="people-outline" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="about">
            <ion-icon name="person-circle-outline" color="primary"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

  </ion-toolbar>
</ion-footer>










