<!--
  Colores: {AzulFuerte, mystery = #161949 | AzulCielo, promotor = #229bd6 | Morado, demostrador = #825aa5 | Verde, anaqueleo = #90c04e}
  Icons : {mystery.svg | promotoria.svg | demostrador.svg | anaqueleo.svg}
-->
<div mat-dialog-content>
  <div>
    <ion-grid class="ion-no-padding">
      <ion-row [ngStyle]="{'background':'#229bd6'}" class="ion-justify-content-center ion-padding">
        <ion-col size="2" class="ion-align-self-center ion-margin-end" >
          <ion-icon [ngStyle]="{'color':'#229bd6', 'background-color':'white', 'border-radius':'50%'}" class="iup-icon-size-xl" src="../../assets/icon/promotoria.svg" ></ion-icon>
        </ion-col>
        <ion-col size="6" class="ion-padding">
         <div class="ion-text-start">
           <ion-label>
             <ion-text color="polarwhite">
               <h2><strong>Promotoría</strong></h2>
               <h4>Para Nivel 1</h4>
             </ion-text>
           </ion-label>
         </div>
        </ion-col>
        <ion-col size="3" class="ion-padding">
         <div class="ion-text-end">
           <ion-label>
             <ion-text color="polarwhite">
               <p>pago</p>
               <h2><strong>$ 300</strong></h2>
             </ion-text>
           </ion-label>
         </div>
       </ion-col>
      </ion-row>
    </ion-grid>
       <div>
         <ion-card class="ion-padding ion-margin-top">
             <ion-label >
               <ion-text color="cloudysky">
                 <p>
                 <strong>Canal</strong> Especializada<br>
                 <strong>Cadena:</strong> AUTOZONE<br>
                 <strong>Tiempo visita promedio:</strong> 1 hr.
               </p>
               </ion-text>
             </ion-label>
         </ion-card>
       </div>
       <div>
        <ion-card class="ion-padding ion-margin-top">
            <ion-label >
              <ion-text color="cloudysky">
                <p>
                <strong>Ubicación</strong><br>
                Autozone Centro<br>
                Colonia Centro
                09430
              </p>
              </ion-text>
            </ion-label>
        </ion-card>
      </div>
  
       <section style="margin-top: 10px;">
        <div class="iup-button-row">
          <button routerLink="/wallet" mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
            <mat-icon>share</mat-icon> Compartir
          </button>
          <button mat-stroked-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend" >
            Ver detalles <mat-icon >chevron_right</mat-icon>
          </button>
        </div>
      </section>
      <section style="margin-top: 10px;">
        <div class="iup-button-row">
          <button mat-button mat-dialog-close>
            <span class="material-icons">highlight_off</span> Cerrar
          </button>
        </div>
      </section>
        
  </div>
</div>

