<div mat-dialog-content>
  <div>
    <ion-grid class="ion-margin">
      <ion-row class="ion-justify-items-center">
        <ion-col size="12" class="ion-align-self-center ion-text-center">

              <ion-grid>
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <ion-col size="12" class="ion-padding">
                    <ion-text color="navyblue">
                      <h6 class="iup-margin-top-md">
                        Comparte este código a un amigo, puedes hacerlo por correo electrónico o WhatsApp.
                      </h6>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <app-clipboard
                       [code]="code" 
                       ></app-clipboard>
        </ion-col>
        <ion-col size="12">
            <!-- <p>
              <mat-form-field appearance="outline" class="iup-full-width">
                <mat-label class="mat-label-color-navyblue">E-mail</mat-label>
                <input formControlName="nombre"  matInput placeholder="Modificar Nombre">
                <mat-icon matSuffix class="material-icons-outlined">email_outline</mat-icon>
              </mat-form-field>
            </p>
            <p>
            <mat-form-field appearance="outline" class="iup-full-width">
              <mat-label class="mat-label-color-navyblue">Nombre</mat-label>
              <input formControlName="nombre"  matInput placeholder="Modificar Nombre">
              <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="iup-full-width">
              <mat-label class="mat-label-color-navyblue">Apellido</mat-label>
              <input formControlName="nombre"  matInput placeholder="Modificar Nombre">
              <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
          </p> -->
          <form class="example-form">
            <p>
            <mat-form-field class="iup-full-width" appearance="outline">
              <mat-label class="mat-label-color-navyblue">Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Eje. miemail@gmail.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('email requerido')">
                Por favor, introduce un e-mail válido
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('email requerido')">
                Email requerido
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="iup-full-width" appearance="outline">
              <mat-label type="text" class="mat-label-color-navyblue">Nombre</mat-label>
              <input matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="iup-full-width" appearance="outline">
              <mat-label type="text" class="mat-label-color-navyblue">Apellido</mat-label>
              <input matInput>
            </mat-form-field>
          </p>

          </form>

        </ion-col>
        <ion-col size="6" class="ion-text-center">
           <button mat-dialog-close mat-raised-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
             CERRAR
           </button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <button mat-dialog-close mat-raised-button class="mat-btn-xtend-navyblue-stroked lb-btn-skybluextend">
            ENVIAR
          </button>
       </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
